@(distributorID: Long, waterfallAdProviderID: Long, reqParams: List[RequiredParam], reportingParams: List[RequiredParam], callbackParams: List[RequiredParam], adProviderName: String, reportingActive: Boolean, callbackUrl: Option[String], cpm: Option[Double], appDomain: String)(implicit flash: Flash, session: Session)
<div class="contents" data-waterfall-ad-provider-id="@waterfallAdProviderID" data-distributor-id="@distributorID" data-provider-name="@adProviderName">
    <div class="flash-message success" id="wap-edit-success"></div>
    <div class="flash-message error" id="wap-edit-error"></div>
    <h1 class="modal-text">Configure @adProviderName</h1>
    @helper.form(action = routes.WaterfallAdProvidersController.update(distributorID, waterfallAdProviderID), 'name -> "edit-waterfall-ad-provider") {
        <div class="waterfall-ad-provider-field">
            <label class="modal-label">*eCPM $</label>
            <input name="eCPM" type="text" value="@cpm.getOrElse(None)"></input>
            <h4 class="tooltip" data-title="Effective cost per thousand impressions in USD.  The eCPM value is not configurable while Reporting is active.">?</h4>
        </div>
        @for(param <- reqParams) {
            <div data-required-param="true" class="edit-waterfall-ad-provider-field">
                <label class="modal-label" data-param-name="@param.key">*@param.key</label>
                <input data-param-type="@param.dataType" data-refresh-on-app-restart="@param.refreshOnAppRestart" type="text" value="@param.value"></input>
                <h4 class="tooltip" data-title="@param.description">?</h4>
            </div>
        }
        <h1 class="modal-text">Reporting Configuration</h1>
        <table>
            <td>
                <label class="modal-label">Reporting:</label>
                <div class="onoffswitch">
                    @if(reportingActive) {
                        <input type="checkbox" name="reporting-active" class="onoffswitch-checkbox" id="reporting-active-switch" checked>
                    } else {
                        <input type="checkbox" name="reporting-active" class="onoffswitch-checkbox" id="reporting-active-switch">
                    }
                    <label class="onoffswitch-label" for="reporting-active-switch">
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                    </label>
                </div>
            </td>
        </table>
        @for(param <- reportingParams) {
            <div class="reporting-waterfall-ad-provider-field">
                <label data-param-name="@param.key" class="modal-label">@param.key</label>
                <input data-param-type="@param.dataType" type="text" value="@param.value"></input>
                <h4 class="tooltip" data-title="@param.description">?</h4>
            </div>
        }
        <h1 class="modal-text">Callback Configuration</h1>
        <table class="modal-centered">
            @if(!(callbackUrl == None)) {
                <td>
                    <label id="callback-url-label" class="modal-text">Callback URL:</label>
                    <div class="callback"><pre>@{appDomain + callbackUrl.get}</pre></div>
                </td>
            }
        </table>
        @for(param <- callbackParams) {
            <div class="callback-waterfall-ad-provider-field">
                <label data-param-name="@param.key" class="modal-label">@param.key</label>
                <input data-param-type="@param.dataType"type="text" value="@param.value"></input>
                <h4 class="tooltip" data-title="@param.description">?</h4>
            </div>
        }
        <div class="modal-text">
            <button type="submit" name="update-ad-provider">Save Changes</button>
            <button type="submit" name="cancel">Cancel</button>
        </div>
    }
</div>

<script src="@routes.Assets.at("javascripts/waterfall_ad_providers/edit.js")" type="text/javascript"></script>