<div ng-hide="flashMessage.text() === ''" id="login-message" class="full-{{flashMessage.displayClass()}}-message">
    {{flashMessage.text()}}
</div>
<div class="content registration">
    <h1>Reset Your Password</h1>
    <hr />
    <div class="modal-text">
        <p>Please enter the email address you used to create your account.</p>
        <p>We will send you an email that will allow you to reset your password.</p>
    </div>
    <form name="{{formName}}" ng-controller="PasswordResetEmailController" ng-submit="submit(passwordResetEmailForm)" novalidate>

        <fieldset ng-disabled="waitForAuth">
            <dl id="email-field">
                <dt><label for="email"></label></dt>
                <dd ng-class="errors.emailClass">
                    <input ng-model="data.email" ng-model-options="{updateOn: 'default'}" clear-error-on-change="data.email" type="email" id="email" name="email" value="" placeholder="Email" required/>
                </dd>
                <div ng-show="passwordResetEmailForm.$submitted || passwordResetEmailForm.email.$touched">
                    <dd class="error">{{errors.email}}</dd>
                    <dd class="error" ng-show="passwordResetEmailForm.email.$error.required">Email address is required</dd>
                    <dd class="error" ng-show="passwordResetEmailForm.email.$error.email">The email you entered is invalid.</dd>
                </div>
            </dl>
        </fieldset>

        <button ng-disabled="passwordResetEmailForm.$invalid || waitForAuth" type="submit" name="submit">Send Verification Email</button>
    </form>
</div>
<div id="registration-link">
    <a href="/login">Sign in to your account</a>
</div>

