<div ng-hide="flashMessage.text() === ''" id="login-message" class="full-{{flashMessage.displayClass()}}-message">
    {{flashMessage.text()}}
</div>
<div class="content registration">
    <h1>Reset Your Password</h1>
    <hr />
    <div class="modal-text">
        Resetting password for email: {{resetParams.email}}
    </div>
    <form name="{{formName}}" ng-controller="ResetPasswordController" ng-submit="submit(resetPasswordForm)" novalidate>

        <fieldset ng-disabled="waitForAuth">
            <dl id="password-field">
                <dt><label for="password"></label></dt>
                <dd ng-class="errors.passwordClass">
                    <input ng-minlength="8" ng-model="data.password" ng-model-options="{updateOn: 'blur'}" clear-error-on-change="data.password" type="password" id="password" name="password" placeholder="New password" required/>
                </dd>
                <div ng-show="resetPasswordForm.$submitted || resetPasswordForm.password.$touched">
                    <dd class="error">{{errors.password}}</dd>
                    <dd class="error" ng-show="resetPasswordForm.password.$error.minlength && !resetPasswordForm.password.$error.required">
                        Password must be a minimum of 8 characters
                    </dd>
                    <dd class="error" ng-show="resetPasswordForm.password.$error.required">Password is required</dd>
                </div>
            </dl>

            <dl id="confirmation-field">
                <dt><label for="confirmation"></label></dt>
                <dd ng-class="errors.confirmationClass">
                    <input password-confirmation="{{data.password}}" ng-model="data.confirmation" clear-error-on-change="data.confirmation" ng-model-options="{updateOn: 'default'}" type="password" id="confirmation" name="confirmation" placeholder="Confirm new password" required/>
                </dd>
                <div id="confirmation-errors" ng-show="resetPasswordForm.$submitted || resetPasswordForm.confirmation.$touched">
                    <dd class="error">{{errors.confirmation}}</dd>
                    <dd class="error" ng-show="resetPasswordForm.confirmation.$error.passwordConfirmation && !resetPasswordForm.confirmation.$error.required">
                        Passwords do not match
                    </dd>
                    <dd class="error" ng-show="resetPasswordForm.confirmation.$error.required">Password confirmation is required</dd>
                </div>
            </dl>
        </fieldset>

        <button ng-disabled="resetPasswordForm.$invalid || waitForAuth" type="submit" name="submit">Change Password and Sign in</button>
    </form>
</div>
<div id="registration-link">
    <a href="/login">Sign in to your account</a>
</div>
