<div class="contents">
    <div class="flash-message success" id="wap-edit-success"></div>
    <div class="flash-message error" id="wap-edit-error"></div>
    <h1 class="modal-text">Configure {{wapData.adProviderName}}</h1>
    <div class="app-form edit-ad-providers">
        <dd id="modal-error" class="modal-text modal-error" ng-show="invalidForm">Please correct the invalid fields highlighted</dd>
        <div ng-class="errors['staticParams-cpm']" class="waterfall-ad-provider-field">
            <dd>
            <dt><label for="eCPM">* eCPM $</label></dt>
                <input ng-class="{'inactive-input inactive-input': wapData.reportingActive}" ng-disabled="wapData.reportingActive" id="eCPM" name="eCPM" type="text" ng-model="wapData.cpm"></input>
                <h4 class="tooltip" data-title="Effective cost per thousand impressions in USD.  The eCPM value is not configurable while Reporting is active.">?</h4>
                <dd class="modal-text error">{{errors.cpmMessage}}</dd>
            </dd>
        </div>

        <div ng-repeat="param in wapData.reqParams">
            <div ng-class="errors['reqParams-{{param.key}}']" data-required-param="true" class="edit-waterfall-ad-provider-field">
                <dd>
                    <dt>
                         <label>* {{param.displayKey}}</label>
                    </dt>
                    <input type="text" ng-model="param.value"></input>
                    <h4 class="tooltip" data-title="{{param.description}}">?</h4>
                    <dd class="modal-text error"></dd>
                </dd>
            </div>
        </div>

        <h3>Reporting</h3>
        <div class="switch-field">
            <dt>
                <label>Reporting</label>
            </dt>
            <div class="onoffswitch switch-left">
                <input ng-model="wapData.reportingActive" type="checkbox" name="reporting-active" class="onoffswitch-checkbox" id="reporting-active-switch">
                <label class="onoffswitch-label" for="reporting-active-switch">
                    <span class="onoffswitch-inner"></span>
                    <span class="onoffswitch-switch"></span>
                </label>
            </div>
        </div>

        <div ng-repeat="param in wapData.reportingParams">
            <div ng-class="errors['reportingParams-{{param.key}}']" class="reporting-waterfall-ad-provider-field">
                <dd>
                    <dt>
                        <label>{{param.displayKey}}</label>
                    </dt>
                    <input data-param-type="@param.dataType" type="text" ng-model="param.value"></input>
                    <h4 class="tooltip" data-title="{{param.description}}">?</h4>
                <dd class="modal-text error"></dd>
                </dd>
            </div>
        </div>

        <h3>Callback</h3>
        <dd ng-show="wapData.callbackUrl != ''">
            <label id="callback-url-label">Callback URL</label>
            <h4 class="tooltip" data-title="Copy and paste this URL into the Callback URL field of {{wapData.adProviderName}}'s dashboard.">?</h4>
            <div class="callback"><pre>{{wapData.appDomain}}{{wapData.callbackUrl}}</pre></div>
        </dd>

        <div ng-repeat="param in wapData.callbackParams">
            <div ng-class="errors['callbackParams-{{param.key}}']" class="callback-waterfall-ad-provider-field">
                <dd>
                    <dt>
                        <label for="{{param.key}}">{{param.displayKey}}</label>
                    </dt>
                    <input type="text" id="{{param.key}}" ng-model="param.value"></input>
                    <h4 class="tooltip" data-title="{{param.description}}">?</h4>
                    <dd class="modal-text error"></dd>
                </dd>
            </div>
        </div>
    </div>
    <div class="modal-text">
        <button ng-click="updateWap(wapData.waterfallAdProviderID, wapData.adProviderName)" type="submit" name="update-ad-provider">Save Changes</button>
    </div>
</div>
