@(app: App, distributorID: Long, appID: Long)

@main("Analytics") {
    @views.html.Partials.subHeader("dashboard", distributorID, appID)

    <div class="content dashboard">
        <div class="fluid-container">
            <div class="row">
                <div class="col-sm-4">
                    <h1>Dashboard - @app.name</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="input-daterange input-group" id="datepicker">
                        <input type="text" class="input-sm form-control" name="start" id="start_date" />
                        <span class="input-group-addon">to</span>
                        <input type="text" class="input-sm form-control" name="end" id="end_date" />
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-sm-8">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                            Pageviews by browser (past 24 hours)
                        </div>
                        <div class="chart-stage">
                            <div id="chart-01"></div>
                        </div>
                        <div class="chart-notes">
                            This is a sample text region to describe this chart.
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                            Pageviews by browser (past 5 days)
                        </div>
                        <div class="chart-stage">
                            <div id="chart-02"></div>
                        </div>
                        <div class="chart-notes">
                            Notes go down here
                        </div>
                    </div>
                </div>

            </div>


            <div class="row">

                <div class="col-sm-4">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                            Impressions by advertiser
                        </div>
                        <div class="chart-stage">
                            <div id="chart-03"></div>
                        </div>
                        <div class="chart-notes">
                            Notes go down here
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                            Impressions by device
                        </div>
                        <div class="chart-stage">
                            <div id="chart-04"></div>
                        </div>
                        <div class="chart-notes">
                            Notes go down here
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                            Impressions by country
                        </div>
                        <div class="chart-stage">
                            <div id="chart-05"></div>
                        </div>
                        <div class="chart-notes">
                            Notes go down here
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col-sm-12">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                            Inventory Requests Per Day
                        </div>
                        <div class="chart-stage">
                            <div id="table_by_day"></div>
                        </div>
                        <div class="chart-notes">
                            This is a sample text region to describe this chart.
                        </div>
                    </div>
                </div>

            </div>

            <!--
        <div id="dashboard_metrics">
            <div class="dashboard_box">
                <div id="unique_users"  class="dashboard_numbers">
                </div>
            </div>
            <div class="dashboard_box">
                <div id="inventory_requests" class="dashboard_numbers">
                </div>
            </div>
            <div class="dashboard_box">
                <div id="fill_rate" class="dashboard_numbers">
                </div>
            </div>
            <div class="dashboard_box">
                <div id="estimated_revenue" class="dashboard_numbers">
                </div>
            </div>
            <div style="clear: both;"></div>
            <h2 class="table_title">App Data Per Day</h2>
            <div id="table_by_day"></div>
        </div>
        -->
    </div>
}
<script src="@routes.Assets.at("javascripts/datepicker.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/analytics/dashboard.js")" type="text/javascript"></script>
