@(distributorID: Long, appID: Option[Long], apps: List[AppWithWaterfallID], adProviders: List[AdProvider], keenProject: String, scopedKey: String)(implicit flash: Flash, session: Session)

@main("Analytics", distributorID, appID) {
    @views.html.Partials.subHeader("analytics", distributorID, appID, None)
    <div ng-controller="AnalyticsController">
        <div id="email_modal">
            <div class="close_button"></div>
            <div id="csv_email_form">
                <h1>Export All Data</h1>
                <hr />
                <div class="modal_text">Enter the email address you would like to export all the data to.</div>
                <form name="exportForm" ng-submit="submit()" novalidate>
                    <input type="email" ng-model="data.email" id="export_email" name="export_email" placeholder="Email Address" required />
                    <div ng-show="exportForm.$submitted || exportForm.export_email.$touched">
                        <dd class="error" ng-show="exportForm.export_email.$error.required">Email address is required</dd>
                        <dd class="error" ng-show="exportForm.export_email.$error.email">The email you entered is invalid.</dd>
                    </div>
                    <input type="submit" class="modal_submit" id="export_submit" value="Export Data">
                </form>
            </div>
            <div id="csv_requested">
                <h1>Export Requested</h1>
                <hr />
                <div class="modal_text">Export has been requested, email will be sent once complete.</div>
                <button class="modal_submit">Close</button>
            </div>
            <div id="csv_export_error">
                <h1>Export Error</h1>
                <hr />
                <div class="modal_text">There was an error when requesting the export, please try again.</div>
                <button class="modal_submit">Close</button>
            </div>
        </div>
        <div id="analytics_overlay"></div>
        <div ng-include="analyticsTemplate" onload="startDatepicker()"></div>

    </div>
}
<script src="https://d26b395fwzu5fz.cloudfront.net/3.1.0/keen.min.js" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/datepicker.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/selectize.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/controllers/analyticsController.js")" type="text/javascript"></script>

