@(resetLink: String)
<font face="helvetica, arial" color="#4f73e7">
    <h1 style="font-family: 'Helvetica Neue Ultra Light', helvetica, arial; color:#4f73e7;">Reset your password</h1>
</font>
<hr style="width: 100px; border: 1px solid #dddde0; color: #dddde0;">
<br>
<br>
<b style="font-family: 'Helvetica Neue', helvetica, arial; font-size: 14px;">
    <p>
        We received a request to change the password for your HyprMediate account.
    </p>
    <p>
        The link below will remain active for 1 hour.
    </p>
</b>
<br>
<br>
<font face="helvetica, arial" color="#333333">
    <a href=@resetLink target="_blank"style="cursor: pointer; -webkit-appearance: none; text-decoration: none !important; background: #4f73e7; border: 0; border-radius: 3px; color: white; font-size: 14px; height: 58px; margin-top: 10px; padding: 15px; text-align: center; width: 50%">
        Reset Password
    </a>
</font>
