@(supportEmail: String)
<font face="helvetica, arial" color="#4f73e7">
    <h1 style="font-family: 'Helvetica Neue Ultra Light', helvetica, arial; color:#4f73e7;">Your password has been changed</h1>
</font>
<hr style="width: 100px; border: 1px solid #dddde0; color: #dddde0;">
<br>
<br>
<b style="font-family: 'Helvetica Neue', helvetica, arial; font-size: 14px;">
    If you did not make this change and believe your HyprMediate account has been compromised, please
    <a style="text-decoration: none" href="mailto:@supportEmail?Subject=Support%20Request" target="_top">contact support</a>.
</b>

<br>
<br>
