<font face="helvetica, arial" color="#4f73e7">
    <h1 style="font-family: 'Helvetica Neue Ultra Light', helvetica, arial; color:#4f73e7;">Welcome to HyprMediate</h1>
</font>
<hr style="width: 100px; border: 1px solid #dddde0; color: #dddde0;">
<br>
<br>
<b style="font-family: 'Helvetica Neue', helvetica, arial; font-size: 14px;">Thank you for registering with HyprMediate</b>
<br>
<br>
<font face="helvetica, arial" color="#333333">
    <div style="font-family: 'Helvetica Neue Light', helvetica, arial; font-size: 14px; width: 370px; color: #333333;">
                            HyprMediate is the easiest way to manage monetization partners across all of your applications.
        Our platform is simple to use, and the setup is quick and seamless.
        <br>
        <br>
        To get started, please visit our <a style="color: #4f73e7;" href="http://documentation.hyprmx.com">Documentation Wiki</a>
        <br>
        <br>
        If you have any questions, feel free to contact us by replying to this email.
        <br>
        <br>
        <b style="font-family: 'Helvetica Neue', helvetica, arial;">We're looking forward to working with you!</b>
        <br>
        <br>
        <hr style="width: 100px; border: 1px solid #dddde0; color: #dddde0;">
        <br>
        Sincerely,
        <div style="color: #4f73e7;">
            <b>
                Your HyprMediate
                <br>
                Publisher Accounts Team
            </b>
        </div>
    </div>
</font>