@(distributorID: Long, appID: Option[Long], appsWithWaterfalls: List[AppWithWaterfallID])
<div id="left_content">
    <div id="left_apps_list">
        <h2>Date Range</h2>
        <ul>
            @for(appInfo <- appsWithWaterfalls) {
                @if(appID.getOrElse(false) == appInfo.id) {
                    <a href="@routes.WaterfallsController.edit(distributorID, appInfo.waterfallID)"><li class="active">@appInfo.name</li></a>
                } else {
                    <a href="@routes.WaterfallsController.edit(distributorID, appInfo.waterfallID)"><li>@appInfo.name</li></a>
                }
            }
        </ul>
    </div>
    <div id="left_apps_list">
        <h2>Filter By Ad Provider</h2>
        <ul>
            @for(appInfo <- appsWithWaterfalls) {
                @if(appID.getOrElse(false) == appInfo.id) {
                    <a href="@routes.WaterfallsController.edit(distributorID, appInfo.waterfallID)"><li class="active">@appInfo.name</li></a>
                } else {
                    <a href="@routes.WaterfallsController.edit(distributorID, appInfo.waterfallID)"><li>@appInfo.name</li></a>
                }
            }
        </ul>
    </div>
    <div id="left_apps_list">
        <h2>Filter By App</h2>
        <ul>
        @for(appInfo <- appsWithWaterfalls) {
            @if(appID.getOrElse(false) == appInfo.id) {
                <a href="@routes.WaterfallsController.edit(distributorID, appInfo.waterfallID)"><li class="active">@appInfo.name</li></a>
            } else {
                <a href="@routes.WaterfallsController.edit(distributorID, appInfo.waterfallID)"><li>@appInfo.name</li></a>
            }
        }
        </ul>
    </div>
    <div id="left_apps_list">
        <h2>Filter By Country</h2>
        <ul>
        @for(appInfo <- appsWithWaterfalls) {
            @if(appID.getOrElse(false) == appInfo.id) {
                <a href="@routes.WaterfallsController.edit(distributorID, appInfo.waterfallID)"><li class="active">@appInfo.name</li></a>
            } else {
                <a href="@routes.WaterfallsController.edit(distributorID, appInfo.waterfallID)"><li>@appInfo.name</li></a>
            }
        }
        </ul>
    </div>
    <a href="@routes.AppsController.newApp(distributorID)">
        <button id="create_new_app">
            Export All Data
        </button>
    </a>
</div>