@(distributorID: Long, appID: Option[Long], appsWithWaterfalls: List[AppWithWaterfallID])
<div id="left_content">
    <div id="left_apps_list">
        <h2>Date Range</h2>
        <ul>
            <li class="dropdown">Nov 09, 2014</li>
            <li class="dropdown">Jan 08, 2015</li>
        </ul>
    </div>
    <div id="left_apps_list">
        <h2>Filter By Ad Provider</h2>
        <ul>
            <li class="active removable">HyprMX Marketplace</li>
            <li class="add">Add Provider</li>
        </ul>
    </div>
    <div id="left_apps_list">
        <h2>Filter By App</h2>
        <ul>
        @for(appInfo <- appsWithWaterfalls) {
            <a href="@routes.WaterfallsController.edit(distributorID, appInfo.waterfallID)"><li class="active removable">@appInfo.name</li></a>
        }
        <li class="add">Add App</li>
        </ul>
    </div>
    <div id="left_apps_list">
        <h2>Filter By Country</h2>
        <ul>
            <li class="active removable">United States</li>
            <li class="add">Add Country</li>
        </ul>
    </div>
    <button id="export_as_csv">
        Export All Data
    </button>
</div>