@(page: String = "dashboard", distributorID: Long, appID: Long)
<div class="sub_header">
    <ul class="menu">
        <a href="@routes.AnalyticsController.show(distributorID, appID)"><li @if(page == "dashboard") { class="active" }>ANALYTICS</li></a>
        <a href="@routes.WaterfallsController.list(distributorID, appID)"><li @if(page == "waterfall") { class="active" }>WATERFALL</li></a>
        <li id="apps_list">MY APPS
            <ul id="apps_list_menu">
                @for(app <- App.findAllAppsWithWaterfalls(distributorID)) {
                    <a href="@routes.AnalyticsController.show(distributorID, app.id)"><li>@app.name</li></a>
                }
                <a href="@routes.AppsController.index(distributorID)"><li>View All</li></a>
            </ul>
        </li>
    </ul>
</div>