@import url('fonts.css');

* {
	margin: 0;
	padding: 0;
}

body {
	background: #efefef;
	font-size: 14px;
	font-family: "Avenir Book", "Helvetica", sans-serif;
	font-weight: 400;
	color: #222;
}

a {
	color: #4285f4;
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
}

h1 {
	font-size: 30px;
	font-family: "Avenir Next Ultra Light", "Arial", sans-serif;
	font-weight: 400;
	
	color: #4285f4;
}

h2 {
	font-size: 20px;
	font-family: "Avenir Black", "Arial", sans-serif;
	font-weight: 400;
}

input[type="text"], input[type="password"], button[type="submit"] {
	padding: 5px;
	border: 1px solid #eee;
	-webkit-appearance: none;

	font-size: 16px;
	font-family: "Avenir Book", "Helvetica", sans-serif;
}

button[type="submit"] {
	background: #4285f4;
	color: #fff;
    border: 0;
	font-size: 14px;
	font-family: "Avenir Book", "Helvetica", sans-serif;
	font-weight: 400;
	margin-top: 20px;
}

header {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;

    height: 50px;
	background: #fff;
	padding: 10px;

	font-size: 20px;
	font-family: "Avenir Black", "Arial", sans-serif;
	font-weight: 400;
	box-shadow: 1px 1px 1px rgba(0,0,0,.1);
    z-index: 100;
}

header .actions {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	padding: 12px 22px 0 22px;

	font-size: 20px;
	font-family: "Avenir Next Ultra Light", "Arial", sans-serif;
	font-weight: 400;
}

header .actions a {
    padding-left: 20px;
}

.tip {
    color: #666;
}

#sign_up {
    padding-top: 20px;
}

#termsContainer {
    margin-top: 20px;
    height: 300px;
    overflow: scroll;
    color: #666;
}

.sub_header {
	position: fixed;
	top: 50px;
	right: 0;
	left: 0;

	height: 50px;

	background: #222;
    box-shadow: 1px 2px 2px rgba(0,0,0,.2);
    z-index: 100;
}

.sub_header .menu {
	display: block;
	position: absolute;
	top: 0;
	left: 50%;
	bottom: 0;

	width: 800px;
	margin-left: -400px;

	list-style: none;
}

.sub_header .menu li {
	margin: 0;
	float: left;
	width: 200px;
	padding-top: 16px;
	height: 50px;

	-webkit-transition: 400ms ease all;

	font-family: "Avenir Black", "Arial",sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #fff;
	text-align: center
}

.sub_header .menu li.active {
	background: #4285f4;
}

.sub_header .menu li.active:hover {
	background: #689ef8;
}

.sub_header .menu li:hover {
	background: #444;
}

#apps_list {
    background: #444;
    position: relative;
    cursor: pointer;
}

#apps_list:hover {
    background: #4285f4;
}

#apps_list:hover #apps_list_menu {
    display: block;
}

#apps_list_menu {
    display: none;
    background: #444;
    position: absolute;
    top: 50px;
}

#apps_list_menu a {
    text-decoration: none;
}

#apps_list_menu li {
    float: none;
    display: block;
    font-family: "Avenir", "Arial",sans-serif;
}

#apps_list_menu li:hover {
    background: #222;
}

.center {
    text-align: center;
    display: block;
}

.content {
    position: relative;
    margin: 70px 20px;
	padding: 20px;

	background: #fff;
	box-shadow: 1px 1px 1px rgba(0,0,0,.1);
}

.content a:hover, .content a:focus {
    text-decoration: none;
}

.content_actions {
    position: absolute;
    top: 20px;
    right: 20px;
}

.content_actions a {
    display: block;
    padding: 10px;

    color: #4285f4;
    background: #efefef;
}

.content.waterfall_list {
    margin-top: 120px;
}

.registration {
	width: 600px;
    margin: 70px auto;
}

.registration input[type="text"], .registration input[type="password"], .registration button[type="submit"] {
	width: 560px;
}

.registration h3 {
    margin-top: 20px;
}

.registration ul {
    padding-left: 25px;
    padding-top: 10px;
}

.registration dl {
	margin-top: 20px;
    margin-bottom: 0px;
}
.content.settings {
    margin-top: 120px;
}

.settings dl {
    margin-top: 20px;
}

.registration input[type="checkbox"] {
	margin: 10px;
	display: block;
}

.registration h2 {
	text-align: center;
	padding: 20px;
	font-size: 30px;
}

.welcome_screen {
    width: 600px;
    margin: 70px auto;
}

.welcome_screen h1 {
    text-align: center;
}

.welcome_screen a {
    display: block;
    background: #4285f4;
    color: #fff;

    font-size: 16px;
    font-family: "Avenir Book", "Helvetica", sans-serif;
    font-weight: 400;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
}

.app_list ul.full_list  {
	list-style: none;
	width: 100%;
}

.app_list ul.full_list li {
	position: relative;
	margin: 0;
	padding: 10px;
	border: 1px solid #eee;
	margin-top: 20px;
}

.app_list ul.full_list li .actions {
	position: absolute;
	top: 15px;
	right: 21px;
}


.app_list ul.full_list li .actions a {
    display: inline-block;
    margin-left: 20px;
	color: #4285f4;

	font-size: 14px;
	font-family: "Avenir Book", "Helvetica", sans-serif;
	font-weight: 400;
	text-decoration: none;
}

.content.dashboard {
    margin-top: 100px;
    background: none;
    box-shadow: none;
}

#dashboard_metrics {
    width: 1000px;
    margin: 0 auto;
}
.dashboard .dashboard_box {
    float: left;
    width: 460px;
    padding: 20px 20px 0 20px;
    text-align: center;
}

.dashboard .dashboard_numbers {
    color: #4285f4;

    font-size: 40px;
    font-family: "Avenir Book", "Helvetica", sans-serif;
    font-weight: 400;
}

.dashboard .table_title {
    padding: 20px 0;
}

.dashboard .google-visualization-table-td {
    padding: 10px;
    font-family: "Avenir Book", "Helvetica", sans-serif;
}

.dashboard .google-visualization-table-tr-head .google-visualization-table-th-webkit.gradient {
    padding: 10px;
    background: #eee;
    font-family: "Avenir Black", "Arial", sans-serif;
    text-align: left;
}

#prev_app {
    margin-top: 20px;
    position: absolute;
    top: 0px;
    left: 20px;
    color: #4285f4;
    background: #fff;
    padding: 10px;
    cursor: pointer;
}

#next_app {
    margin-top: 20px;
    position: absolute;
    top: 0px;
    right: 20px;
    color: #4285f4;
    background: #fff;
    padding: 10px;
    cursor: pointer;
}

.inactive {
    background-color: #CCCCCC;
}

.waterfall-sort {
    min-height: 50px;
}

.waterfall ul {
	list-style: none;
	width: 100%;
}

.waterfall ul li {
	position: relative;
	margin: 0;
	padding: 10px;
	border: 1px solid #eee;
	margin-top: 10px;
    background: #fff;
}

.waterfall ul li b {
	font-size: 12px;
	font-family: "Avenir Black", "Arial", sans-serif;
	font-weight: 400;
}

.waterfall ul li .actions {
	position: absolute;
	top: 21px;
	right: 21px;
	color: #4285f4;

	font-size: 14px;
	font-family: "Avenir Book", "Helvetica", sans-serif;
	font-weight: 400;
	cursor: pointer;
}

.waterfall-drag {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 30px;
    width: 30px;
    cursor: row-resize;
}

.waterfall-drag-1 {
    height: 5px;
    background: #ddd;
}

.waterfall-drag-2, .waterfall-drag-3 {
    height: 5px;
    margin-top: 5px;
    background: #ddd;
}

.inactive-waterfall {
    display: none;
}

.inactive-waterfall-content {
    display: none;
}

.inactive .inactive-waterfall {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    opacity: 0.8;
}

.inactive .inactive-waterfall-content {
    display: block;
    position: absolute;
    top: 20px;
    left: 50%;
    margin-left: -100px;
    color: #222;
    text-align: center;
}

.inactive-button {
    width: 200px;
}


.navbar-inverse {
    background-color: #3d4a57;
    border-color: #333;
}
.navbar-inverse .navbar-nav > li > a,
.navbar a.navbar-brand {
    color: #fbfbfb;
}

div [class^="col-"] {
    padding-left: 5px;
    padding-right: 5px;
}

.chart-wrapper {
    background: #fff;
    border: 1px solid #e2e2e2;
    margin-bottom: 10px;
}
.chart-wrapper .chart-title {
    border-bottom: 1px solid #d7d7d7;
    font-family: "Avenir Black", "Helvetica", sans-serif;
    color: #555;
    font-size: 15px;
    font-weight: 500;
    padding: 8px 10px 5px;
}

.chart-wrapper .chart-stage {
    min-height: 150px;
    padding: 5px 10px;
}

.chart-wrapper .chart-notes {
    background: #fbfbfb;
    border-top: 1px solid #e2e2e2;
    color: #808080;
    font-size: 12px;
    padding: 8px 10px 5px;
}

.tooltip {
    display: inline;
    position: relative;
}

#datepicker, #ad_providers, #countries {
    margin: 10px 0 20px 0;
}

.keen-loading {
    margin-top: -140px;
    margin-bottom: -120px;
    display: none;
}

#ad_providers, #countries {
    border-radius: 0;
    height: 41px;
}

.input-group .form-control {
    padding: 20px;
}


.tooltip:hover:after {
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(title);
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 220px;
}

.tooltip:hover:before {
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 99;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, -50%);
    background: #DEDEDE;
    padding: 25px;
    z-index: 20;
    overflow: visible;
    -webkit-border-top-right-radius: 10px 10px;
    -webkit-border-bottom-right-radius: 10px 10px;
    -webkit-border-top-left-radius: 10px 10px;
    -webkit-border-bottom-left-radius: 10px 10px;
}

.modal-text {
    text-align: center;
    padding-bottom: 10px;
}

.modal-label {
    display: inline-block;
    width: 100px;
    text-align: right;
}

.modal-inactive {
    filter:alpha(opacity=50); /* IE */
    opacity: 0.5; /* Safari, Opera */
    -moz-opacity:0.5; /* FireFox */
    z-index: 10;
    height: 100%;
    width: 100%;
    background-repeat:no-repeat;
    background-position:center;
    position:absolute;
    top: 0px;
    left: 0px;
}

.flash-message {
    z-index: 99;
    position: fixed;
    top: 50px;
    left: 50%;
    background: #fff;
    width: 300px;
    padding: 5px;
    text-align: center;
    margin-left: -160px;
    font-size: 14px;
    box-shadow: 0px 0px 4px rgba(0,0,0,.2);
    display: none;
}

.flash-message.success {
    color: #4285f4;
}

.flash-message.error {
    color: #E80000;
}

.onoffswitch {
    position: relative;
    width: 70px;
    float: right;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select: none;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border-radius: 5px;
}

.onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s;
    -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s;
    transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 30px;
    padding: 0;
    line-height: 30px;
    font-size: 14px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #4285F4; color: #FFFFFF;
}

.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}

.onoffswitch-switch {
    display: block;
    width: 15px;
    height: 24px;
    margin: 3px;
    background: #FFFFFF;
    border-radius: 5px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 48px;
    -moz-transition: all 0.3s ease-in 0s;
    -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

.td-waterfall-config {
    width: 250px;
}
