@import url('fonts.css');

* {
	margin: 0;
	padding: 0;
}

body {
	background: #efefef;
	font-size: 14px;
	font-family: "Avenir Book", "Helvetica", sans-serif;
	font-weight: 400;
	color: #222;
}

a {
	color: #4285f4;
	text-decoration: none;
}

h1 {
	font-size: 30px;
	font-family: "Avenir Next Ultra Light", "Arial", sans-serif;
	font-weight: 400;
	
	color: #4285f4;
}

h2 {
	font-size: 20px;
	font-family: "Avenir Black", "Arial", sans-serif;
	font-weight: 400;
}

input[type="text"], input[type="password"], button[type="submit"] {
	padding: 10px;
	border: 1px solid #eee;
	-webkit-appearance: none;

	font-size: 20px;
	font-family: "Avenir Book", "Helvetica", sans-serif;
}

button[type="submit"] {
	background: #4285f4;
	color: #fff;

	font-size: 20px;
	font-family: "Avenir Book", "Helvetica", sans-serif;
	font-weight: 400;
	margin-top: 20px;
}

header {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;

	height: 70px;
	background: #fff;
	padding: 20px;

	font-size: 20px;
	font-family: "Avenir Black", "Arial", sans-serif;
	font-weight: 400;
	box-shadow: 1px 1px 1px rgba(0,0,0,.1);
    z-index: 100;
}

header .user_info {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;

	width: 150px;
	padding: 22px 22px 0 22px;

	background: #F8F8F8;
	font-size: 20px;
	font-family: "Avenir Book", "Helvetica", sans-serif;
	font-weight: 400;
	text-align: center;
}

header .actions {
	position: absolute;
	top: 0px;
	right: 200px;
	bottom: 0px;
	padding: 22px 22px 0 22px;

	font-size: 20px;
	font-family: "Avenir Next Ultra Light", "Arial", sans-serif;
	font-weight: 400;
}

header .actions a {
    padding-left: 20px;
}

.sub_header {
	position: fixed;
	top: 70px;
	right: 0;
	left: 0;

	height: 50px;

	background: #222;
    box-shadow: 1px 2px 2px rgba(0,0,0,.2);
    z-index: 100;
}

.sub_header .menu {
	display: block;
	position: absolute;
	top: 0;
	left: 50%;
	bottom: 0;

	width: 600px;
	margin-left: -300px;

	list-style: none;
}

.sub_header .menu li {
	margin: 0;
	float: left;
	width: 200px;
	padding-top: 16px;
	height: 50px;

	-webkit-transition: 400ms ease all;

	font-family: "Avenir Black", "Arial",sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #fff;
	text-align: center
}

.sub_header .menu li.active {
	background: #4285f4;
}

.sub_header .menu li.active:hover {
	background: #689ef8;
}

.sub_header .menu li:hover {
	background: #444;
}

.content {
    position: relative;
	margin: 100px auto;
	padding: 20px;

	background: #fff;
	box-shadow: 1px 1px 1px rgba(0,0,0,.1);
}

.content_actions {
    position: absolute;
    top: 20px;
    right: 20px;
}

.content_actions a {
    display: block;
    padding: 10px;

    color: #4285f4;
    background: #efefef;
}

.registration {
	width: 600px;
}

.registration input[type="text"], .registration input[type="password"], .registration button[type="submit"] {
	width: 600px;
}

.registration dl {
	margin-top: 20px;
}

.registration input[type="checkbox"] {
	margin: 10px;
	display: block;
}

.registration h2 {
	text-align: center;
	padding: 20px;
	font-size: 30px;
}

.app_list ul.full_list  {
	list-style: none;
	width: 100%;
}

.app_list ul.full_list li {
	position: relative;
	margin: 0;
	padding: 10px;
	border: 1px solid #eee;
	margin-top: 10px;
}

.app_list ul.full_list li .actions {
	position: absolute;
	top: 21px;
	right: 21px;
}


.app_list ul.full_list li .actions a {
	color: #4285f4;

	font-size: 14px;
	font-family: "Avenir Book", "Helvetica", sans-serif;
	font-weight: 400;
	text-decoration: none;
}

.content.dashboard {
    background: none;
}

#dashboard_metrics {
    width: 1000px;
    margin: 0 auto;
}
.dashboard .dashboard_box {
    float: left;
    width: 460px;
    padding: 20px 20px 0 20px;
    text-align: center;
}

.dashboard .dashboard_numbers {
    color: #4285f4;

    font-size: 40px;
    font-family: "Avenir Book", "Helvetica", sans-serif;
    font-weight: 400;
}

.dashboard .table_title {
    padding: 20px 0;
}

.dashboard .google-visualization-table-td {
    padding: 10px;
    font-family: "Avenir Book", "Helvetica", sans-serif;
}

.dashboard .google-visualization-table-tr-head .google-visualization-table-th-webkit.gradient {
    padding: 10px;
    background: #eee;
    font-family: "Avenir Black", "Arial", sans-serif;
}

#prev_app {
    margin-top: 20px;
    position: absolute;
    top: 0px;
    left: 20px;
    color: #4285f4;
    background: #fff;
    padding: 10px;
    cursor: pointer;
}

#next_app {
    margin-top: 20px;
    position: absolute;
    top: 0px;
    right: 20px;
    color: #4285f4;
    background: #fff;
    padding: 10px;
    cursor: pointer;
}

.waterfall ul {
	list-style: none;
	width: 100%;
}

.waterfall ul li {
	position: relative;
	margin: 0;
	padding: 10px;
	border: 1px solid #eee;
	margin-top: 10px;
}

.waterfall ul li b {
	font-size: 12px;
	font-family: "Avenir Black", "Arial", sans-serif;
	font-weight: 400;
}

.waterfall ul li .actions {
	position: absolute;
	top: 21px;
	right: 21px;
	color: #4285f4;

	font-size: 14px;
	font-family: "Avenir Book", "Helvetica", sans-serif;
	font-weight: 400;
	cursor: pointer;
}

.navbar-inverse {
    background-color: #3d4a57;
    border-color: #333;
}
.navbar-inverse .navbar-nav > li > a,
.navbar a.navbar-brand {
    color: #fbfbfb;
}

div [class^="col-"] {
    padding-left: 5px;
    padding-right: 5px;
}

.chart-wrapper {
    background: #fff;
    border: 1px solid #e2e2e2;
    margin-bottom: 10px;
}
.chart-wrapper .chart-title {
    border-bottom: 1px solid #d7d7d7;
    font-family: "Avenir Black", "Helvetica", sans-serif;
    color: #555;
    font-size: 15px;
    font-weight: 500;
    padding: 8px 10px 5px;
}

.chart-wrapper .chart-stage {
    min-height: 240px;
    padding: 5px 10px;
}

.chart-wrapper .chart-notes {
    background: #fbfbfb;
    border-top: 1px solid #e2e2e2;
    color: #808080;
    font-size: 12px;
    padding: 8px 10px 5px;
}

#datepicker {
    padding: 10px 0 20px 0;
}

.input-group .form-control {
    padding: 20px;
}