@import url(vendor/bootstrap.css);
@import url(vendor/datepicker.css);
@font-face {
  font-family: 'Avenir Book';
  src: url("fonts/Avenir.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Avenir Black';
  src: url("fonts/AvenirBlack.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Avenir Medium';
  src: url("fonts/AvenirMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Avenir Light';
  src: url("fonts/AvenirLight.ttf") format("truetype");
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: 'Avenir Next Ultra Light';
  src: url("fonts/AvenirUltra.ttf") format("truetype");
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url("fonts/HelveticaNeue.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Helvetica Neue Light';
  src: url("fonts/HelveticaNeueLight.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Helvetica Neue Ultra Light';
  src: url("fonts/HelveticaNeueUltraLight.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

.split-content {
  background: #fff;
  border: 1px solid #c8c7cc;
  margin: 60px 0 0 220px;
  padding: 40px;
  position: relative;
}

.content {
  background: #fff;
  border: 1px solid #dddde0;
  margin: 70px 20px;
  padding: 20px;
  position: relative;
}

.content-actions {
  position: absolute;
  right: 20px;
  top: 20px;
}

.content-actions a {
  background: #efefef;
  color: #4285f4;
  display: block;
  padding: 10px;
}

.divider {
  height: 2px;
  background: #dddde0;
  width: 25%;
}

.content.dashboard {
  background: none;
  box-shadow: none;
  margin-top: 100px;
}

#dashboard-metrics {
  margin: 0 auto;
  width: 1000px;
}

#analytics-overlay {
  background: #fff;
  bottom: 0;
  left: 0;
  opacity: 0.9;
  overflow-y: auto;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2002;
}

#analytics-header {
  text-align: center;
  font-size: 36px;
}

.analytics-row.analytics-row-header {
  padding-top: 0px;
}

.analytics-row {
  padding: 20px 0;
}

.analytics-circle {
  width: 180px;
  height: 180px;
  margin: 0 auto;
  background: url(../images/analytics_circles.png);
  text-align: center;
  padding-top: 62px;
  font-weight: bold;
  font-size: 40px;
  -webkit-transition: 1s ease all;
  -o-transition: 1s ease all;
  transition: 1s ease all;
  opacity: 0.5;
  -webkit-transform: scale(0.7);
  -o-transform: scale(0.7);
  transform: scale(0.7);
}

.analytics-circle.loaded {
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.analytics-circle.loaded .analytics-loading {
  display: none;
}

.updating-status {
  color: #ddd;
  font-size: 14px;
}

@keyframes loading {
  0% {
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }

  100% {
    -webkit-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
  }
}

@-webkit-keyframes loading {
  0% {
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }

  100% {
    -webkit-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
  }
}

.analytics-loading .square-1,
.analytics-loading .square-2,
.analytics-loading .square-3 {
  display: inline-block;
  width: 15px;
  height: 15px;
  background: #666;
  margin: 5px;
  border-radius: 3px;
  -webkit-animation: loading 600ms alternate infinite;
  animation: loading 600ms alternate infinite;
}

.analytics-circle.revenue-by-day .analytics-loading .square-1,
.analytics-circle.revenue-by-day .analytics-loading .square-2,
.analytics-circle.revenue-by-day .analytics-loading .square-3,
.analytics-circle.average-ecpm .analytics-loading .square-1,
.analytics-circle.average-ecpm .analytics-loading .square-2,
.analytics-circle.average-ecpm .analytics-loading .square-3 {
  background: #fff;
}

.analytics-loading .square-2 {
  -webkit-animation-delay: 300ms;
  -o-animation-delay: 300ms;
  animation-delay: 300ms;
}

.analytics-loading .square-3 {
  -webkit-animation-delay: 600ms;
  -o-animation-delay: 600ms;
  animation-delay: 600ms;
}

.chart-loading.analytics-loading {
  width: 75px;
  margin: 0 auto;
  opacity: 0.2;
  -webkit-transform: scale(2);
  transform: scale(2);
  padding-top: 110px;
  height: 250px;
}

.analytics-revenue-table .analytics-loading {
  width: 95px;
  margin: 0 auto;
}

.analytics-circle-border {
  border-right: 1px solid #e3e3e5;
}

.analytics-circle.average-ecpm {
  background-position: 0 0;
  color: #fff;
}

.analytics-circle.fill-rate {
  color: #666;
  background-position: -180px 0;
}

.analytics-circle.revenue-by-day {
  color: #fff;
  background-position: -360px 0;
}

.analytics-circle sup {
  font-size: 24px;
}

.analytics-description {
  margin: 15px 0;
  font-size: 12px;
  color: #666;
  text-align: center;
}
.analytics-description i {
  font-family: "Helvetica Neue Light", Helvetica, sans-serif;
  padding-left: 10px;
}

.analytics-bullet {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  margin-right: 10px;
}
.analytics-bullet.average-ecpm {
  background: #3c7cea;
}
.analytics-bullet.fill-rate {
  background: #ffcc66;
}
.analytics-bullet.revenue-by-day {
  background: #42c187;
}

.analytics-revenue-table {
  width: 100%;
  border: 1px solid #dddde0;
  border-radius: 3px;
  border-collapse: separate;
  /* A css way to get rounded corners to work in tables */
}
.analytics-revenue-table tr th {
  width: 100%;
  background: #f9f9f9;
  padding: 12px;
  border-bottom: 1px solid #dddde0;
  font-size: 12px;
  color: #6d6d72;
  overflow-y: scroll;
}
.analytics-revenue-table tbody {
  height: 300px;
  display: block;
  width: 100%;
  overflow-y: scroll;
}
.analytics-revenue-table tbody tr {
  display: block;
  width: 100%;
}
.analytics-revenue-table tr td {
  display: block;
  width: 100%;
  padding: 12px;
  font-size: 13px;
  border-bottom: 1px solid #dddde0;
  font-family: "Helvetica Neue Light", Helvetica, sans-serif;
}
.analytics-revenue-table tr .metric {
  text-align: right;
  float: right;
  width: 125px;
}
.analytics-revenue-table tr:nth-child(odd) td {
  background: #f9f9f9;
}
.analytics-revenue-table tbody tr td div:first-child {
  text-align: right;
  font-weight: bold;
}
.analytics-revenue-table tr:last-child td:first-child {
  border-bottom-left-radius: 3px;
  border-bottom: 0px;
}
.analytics-revenue-table tr:last-child td:last-child {
  border-bottom-right-radius: 3px;
  border-bottom: 0px;
}

#analytics-messaging {
  margin-bottom: 20px;
}

#export-email {
  margin: 10px 0 5px;
  width: 100%;
}

#csv-email-form h1 {
  color: #3c7cea;
  font-size: 36px;
}
#csv-email-form .modal-text {
  width: 220px;
  margin: 10px auto;
  padding: 0;
}

#ad-providers, #countries {
  margin: 10px 0 20px;
}

.app-form {
  text-align: left;
  width: 678px;
}
.app-form h1 {
  font-size: 36px;
  margin-bottom: 10px;
  margin-top: 0;
  text-align: center;
}
.app-form h3 {
  color: #6d6d72;
  font-size: 14px;
  margin: 10px 0;
  text-align: center;
}
.app-form dl {
  margin-bottom: 20px;
}
.app-form dt {
  font-size: 12px;
  text-align: left;
}
.app-form label {
  font-family: "Helvetica Neue Light", Helvetica, sans-serif;
}
.app-form .switch-field {
  height: 30px;
  margin-bottom: 10px;
}
.app-form .switch-field dt {
  float: left;
  margin-right: 5px;
  margin-top: 7px;
}
.app-form .switch-field dl {
  margin-bottom: 0;
}
.app-form.edit-ad-providers {
  width: 400px;
}
.app-form.edit-ad-providers input[type="text"], .app-form.edit-ad-providers input[type="password"], .app-form.edit-ad-providers input[type="number"], .app-form.edit-ad-providers input[type="email"], .app-form.edit-ad-providers button[type="submit"], .app-form.edit-ad-providers button[type="button"] {
  width: 376px;
}
.app-form.edit-app-form input[type="text"], .app-form.edit-app-form input[type="password"], .app-form.edit-app-form input[type="number"], .app-form.edit-app-form input[type="email"], .app-form.edit-app-form button[type="submit"], .app-form.edit-app-form button[type="button"] {
  margin-bottom: 20px;
  width: 410px;
}

#roundUp-field {
  height: 40px;
}

.left-column {
  float: left;
  margin-top: 10px;
  width: 330px;
}

.right-column {
  float: left;
  margin-left: 18px;
  margin-top: 10px;
  width: 330px;
}

.new-app-page #new-app {
  background: #fff;
  border: 1px solid #dddde0;
  margin: 0 auto 10px;
  padding: 30px;
  width: 743px;
}

#new-app-page-header .modal-text {
  margin-bottom: 30px;
  font-family: "Helvetica Neue Light", Helvetica, sans-serif;
}

.app-form .tip, .switch-checkbox-label {
  color: #333;
  font-size: 11px;
  font-style: italic;
  text-align: left;
}

#api-token {
  font-family: sans-serif;
  color: #797979;
  font-weight: 500;
}

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  background: #f0eff5;
  color: #222;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  height: 100%;
  min-width: 1185px;
}

body.modal-active {
  overflow: hidden;
}

a {
  color: #4285f4;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
  margin-top: 0;
}

h1 {
  color: #4285f4;
  font-family: "Helvetica Neue Ultra Light", sans-serif;
  font-size: 30px;
  font-weight: 100;
}

h2 {
  font-size: 20px;
  font-weight: 700;
}

input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"],
button[type="submit"],
button[type="button"] {
  -webkit-appearance: none;
  background: #f9f9f9;
  border: 0;
  border-bottom: 1px solid #c8c7cc;
  font-size: 13px;
  height: 35px;
  padding: 5px;
  outline: none;
}

button[type="submit"],
button[type="button"] {
  -webkit-appearance: none;
  background: #3c7cea;
  border: 0;
  border-radius: 3px;
  color: white;
  font-size: 14px;
  height: 58px;
  margin-top: 10px;
  padding: 15px;
  text-align: center;
  width: 100%;
  outline: none;
}

.tip {
  color: #555;
}

.center {
  display: block;
  text-align: center;
}

.settings dl {
  margin-bottom: 5px;
  margin-top: 20px;
}

div [class^="col-"] {
  padding-left: 5px;
  padding-right: 5px;
}

#ad-providers,
#countries {
  border-radius: 0;
  height: 41px;
}

.inactive-link {
  cursor: default;
  pointer-events: none;
}

.content-wrapper {
  margin: 0 auto -15px;
}

.push {
  height: 15px;
}

.inactive-input {
  background-color: gainsboro !important;
}

hr {
  color: #dddde0;
  margin: 20px auto;
  width: 100px;
}

.registration dt,
.inactive-waterfall,
.inactive-waterfall-content,
.onoffswitch-checkbox,
.hidden-wap-info,
.undisplayed-wap-info,
#new-app-page-header {
  display: none;
}

.flash-message.error,
dd.modal-error {
  color: #E80000;
}

::-webkit-input-placeholder,
:-ms-input-placeholder {
  color: #DEDEDE;
}

:-moz-placeholder,
::-moz-placeholder {
  color: #b2b1b6;
  opacity: 1;
}

.preserve-whitespace {
  white-space: pre;
}

.unselectable {
  display: inline;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

#browser-support {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  font-size: 14px;
  color: #fff;
  padding: 18px;
  border-bottom: 1px solid #fff;
  background: #fb504b;
  text-align: center;
  z-index: 2000;
}
#browser-support a {
  text-decoration: underline;
  color: #fff;
}
#browser-support .warning-icon {
  display: inline-block;
  width: 35px;
  height: 26px;
  margin-bottom: -8px;
  margin-right: 5px;
  background: url(../images/icons.png);
  background-position: -48px -45px;
}
#browser-support #dismiss-browser {
  color: #4285f4;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 35px;
  height: 35px;
  background: url(../images/icons.png);
  background-position: -48px -0px;
}

.browser-not-supported header, .browser-not-supported .sub-header {
  top: 60px;
}

.browser-not-supported #left-content {
  top: 120px;
}

.browser-not-supported .split-content {
  margin: 120px 0 0 215px;
}

footer {
  color: #999;
  display: inline-block;
  font-size: 11px;
  margin: 20px 0;
  text-align: center;
  width: 100%;
}
footer a {
  color: #999;
}
footer span {
  border-right: 1px solid #ccc;
  display: inline-block;
  margin-right: 10px;
  padding-right: 10px;
}
footer span.last {
  border-right: 0;
  margin-right: 0;
  padding-right: 0;
}
footer .version-info {
  font-style: italic;
}
footer .footer-text-format {
  display: inline-block;
  padding: 0 5px;
}

.registration input[type="text"],
.registration input[type="password"],
.registration input[type="number"],
.registration input[type="email"],
.registration button[type="submit"],
.registration button[type="button"],
.app-form input[type="text"],
.app-form input[type="password"],
.app-form input[type="number"],
.app-form input[type="email"],
.app-form button[type="submit"],
.app-form button[type="button"],
.new-app-page #new-app input {
  width: 100%;
}

#callback-url-label {
  display: inline-block;
  width: 376px;
}

.callback {
  font-size: 10px;
  max-width: 376px;
  text-align: center;
}
.callback pre {
  -webkit-appearance: none;
  background: #f9f9f9;
  border: 0;
  border-bottom: 1px solid #c8c7cc;
  color: #6d6d72;
  padding: 5px;
  text-align: left;
  white-space: pre-wrap;
}

.input-group .form-control {
  height: 100%;
  padding: 10px;
}

#form-errors {
  color: red;
  font-size: 13px;
  list-style: none;
}

.error input, input.ng-touched.ng-invalid {
  border: 1px solid red;
  color: #000;
}

.ng-pristine .ng-invalid-required {
  box-shadow: none;
}

dd.error {
  color: red;
  text-align: left;
}

button:disabled {
  background-color: #d3dcf9;
}

header {
  background: #222222;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  font-size: 20px;
  font-weight: 700;
  height: 60px;
  left: 0;
  padding: 10px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2000;
}
header #logo {
  border-right: 1px solid #000;
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 220px;
}
header .actions {
  bottom: 0;
  font-size: 13px;
  font-weight: 400;
  position: absolute;
  right: 0;
  top: 0;
}
header .actions .header-actions {
  border-left: 1px solid #000;
  float: right;
  padding: 21px 22px;
  position: relative;
}
header .actions .header-actions:before {
  border-left: 1px solid #333;
  bottom: 1px;
  content: " ";
  left: 0;
  position: absolute;
  right: 1px;
  top: 1px;
  z-index: -1;
}
header #username-header {
  color: #666;
  cursor: pointer;
}
header .header-actions #username-dropdown {
  background: #efeff4;
  border: 1px solid #dddde0;
  bottom: -60px;
  color: #6d6d72;
  display: none;
  height: 60px;
  left: 0;
  padding: 20px;
  position: absolute;
  width: 100%;
}
header .header-actions #username-dropdown a:hover {
  color: #666;
}
header .actions a {
  color: #666;
  text-decoration: none;
}
header #username-header:hover #username-dropdown {
  display: block;
}
header #username-header:hover,
header .actions a:hover {
  color: #fff;
}

header #logo:before,
.sub-header .menu li:before {
  border-right: 1px solid #333;
  bottom: 1px;
  content: " ";
  left: 1px;
  position: absolute;
  right: -2px;
  top: 1px;
  z-index: -1;
}

.sub-header {
  background: #222;
  height: 60px;
  left: 221px;
  position: fixed;
  top: 0;
  width: 414px;
  z-index: 2001;
}
.sub-header .menu {
  bottom: 0;
  display: block;
  left: 0;
  list-style: none;
  position: absolute;
  top: 0;
}
.sub-header .menu li {
  -webkit-transition: 400ms ease all;
  border-right: 1px solid #000;
  color: #fff;
  float: left;
  font-size: 13px;
  height: 60px;
  margin: 0;
  padding-top: 22px;
  position: relative;
  text-align: center;
  width: 138px;
}
.sub-header .menu li:hover {
  background: #444;
}
.sub-header .menu li.active, .sub-header .menu li.active:hover {
  border-bottom: #3c7cea 5px solid;
}

#left-content {
  left: 0;
  position: absolute;
  top: 60px;
  width: 220px;
}

.left-apps-list {
  padding: 30px 20px 20px 20px;
}
.left-apps-list h2 {
  color: #6d6d72;
  font-size: 13px;
  margin-bottom: 20px;
}
.left-apps-list .reset-filters {
  color: #333333;
  text-decoration: underline;
  font-size: 13px;
  cursor: pointer;
  margin-bottom: 25px;
}
.left-apps-list ul {
  list-style: none;
  font-family: "Helvetica Neue Light", Helvetica, sans-serif;
}
.left-apps-list ul li {
  -webkit-transition: 150ms ease background;
  background: #fff;
  border-bottom: #b4b3b8 1px solid;
  border-radius: 2px;
  cursor: pointer;
  display: block;
  font-size: 13px;
  margin-top: 10px;
  padding: 10px;
  position: relative;
}
.left-apps-list ul li:hover {
  background: #ccc;
}
.left-apps-list ul li.active {
  background: #3c7cea;
  color: #fff;
}
.left-apps-list ul li.active.removable {
  white-space: pre;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 12px;
}
.left-apps-list ul li.active.removable:before {
  background: url(../images/icons.png);
  background-position: -16px -55px;
  content: "";
  height: 10px;
  position: absolute;
  right: 10px;
  top: 11px;
  width: 10px;
}
.left-apps-list ul li.add {
  color: #3c7cea;
}
.left-apps-list ul li.add:hover {
  background: #fff;
}
.left-apps-list ul li.add:before {
  background: url(../images/icons.png);
  background-position: -14px -94px;
  content: "";
  height: 12px;
  position: absolute;
  right: 10px;
  top: 12px;
  width: 12px;
  pointer-events: none;
}
.left-apps-list ul li.arrowdown {
  padding: 0;
  width: 180px;
  background: #fff;
}
.left-apps-list ul li.arrowdown input.form-control {
  cursor: pointer;
}
.left-apps-list ul li.arrowdown:before {
  background: url(../images/icons.png);
  background-position: -14px -121px;
  content: "";
  height: 12px;
  position: absolute;
  right: 10px;
  top: 12px;
  width: 12px;
}
.left-apps-list ul li input.form-control {
  display: block;
  float: none;
  border-bottom: 0;
  background: none;
  text-align: left;
}
.left-apps-list ul a li {
  color: #000;
}

.app-list ul.full-list li {
  border: 1px solid #eee;
  margin: 20px 0 0;
  padding: 10px;
  position: relative;
}

.app-list ul.full-list li .actions {
  position: absolute;
  right: 21px;
  top: 15px;
}

.app-list ul.full-list li .actions a {
  color: #4285f4;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  margin-left: 20px;
  text-decoration: none;
}

.app-list-link {
  position: relative;
  display: block;
}

#waterfall-controller .left-apps-list ul li {
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 42px;
}
#waterfall-controller .left-apps-list ul li .settings-icon {
  background: url(../images/icons.png);
  background-position: -143px 3px;
  height: 38px;
  position: absolute;
  right: 0px;
  top: 0px;
  border-left: 1px solid #F7F7F7;
  width: 38px;
  cursor: pointer;
}
#waterfall-controller .left-apps-list ul li .settings-icon:before {
  content: " ";
  position: absolute;
  z-index: 0;
  top: 0px;
  left: -2px;
  right: 4px;
  bottom: 0px;
  border-left: 0px;
}
#waterfall-controller .left-apps-list ul li:hover .settings-icon {
  border-left: 1px solid #bbb;
}
#waterfall-controller .left-apps-list ul li.active .settings-icon {
  border-left: 1px solid #2E73EA;
  background-position: -115px 3px;
}
#waterfall-controller .left-apps-list ul li.active .settings-icon:before {
  border-left: 1px solid #4E84E0;
}

#analytics-controller .left-apps-list {
  border-bottom: 1px solid #c8c7cc;
}

.left-apps-list .dropdown-menu {
  position: absolute;
  top: 35px;
  left: 0;
  right: 0;
  z-index: 100;
  border-top: #e0e0e9 1px solid;
  border-bottom: #c8c7cc 1px solid;
  padding: 0;
  margin: 0;
  border: 0;
}

.left-apps-list .dropdown-menu li {
  margin-top: 0;
  background: #fff;
  border-radius: 0;
  padding: 8px 10px;
  border-bottom: #e0e0e9 1px solid;
}

.left-apps-list .dropdown-menu li:hover {
  background: #3c7cea;
  color: #fff;
}

.left-apps-list .dropdown-menu > .active > a, .left-apps-list .dropdown-menu > .active > a:hover, .left-apps-list .dropdown-menu > .active > a:focus {
  background: none;
  color: #fff;
}

.left-apps-list .dropdown-menu > li > a {
  display: block;
  padding: 0;
  clear: both;
  font-weight: normal;
  line-height: normal;
  color: #222;
  white-space: pre;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 12px;
}

.left-apps-list .dropdown-menu li:hover:before, .left-apps-list .dropdown-menu li.active:before {
  background: url(../images/icons.png);
  background-position: -15px -149px;
  content: "";
  height: 12px;
  position: absolute;
  right: 10px;
  top: 11px;
  width: 12px;
}

.left-apps-list .add .dropdown-filter {
  color: #8e8e93;
  display: none;
  padding-left: 10px;
}

.left-apps-list .add.open {
  padding: 0;
}

.left-apps-list .add.open .dropdown {
  display: block;
}

.left-apps-list .add.open .dropdown-filter {
  display: block;
}

.left-apps-list .add.open .dropdown-label {
  display: none;
}

#create-new-app, #export-as-csv {
  -webkit-transition: 150ms ease all;
  -webkit-appearance: none;
  border: 0;
  background: #f0eff5;
  color: #6e6d72;
  font-size: 12px;
  margin: 0 30px;
  text-align: center;
  width: 160px;
  cursor: pointer;
  vertical-align: middle;
}
#create-new-app:hover, #export-as-csv:hover {
  color: #000;
}
#create-new-app .icon, #export-as-csv .icon {
  display: inline-block;
  margin-right: 5px;
  background: url(../images/icons.png);
  background-position: -94px -81px;
  height: 22px;
  width: 22px;
  vertical-align: middle;
}

#export-as-csv {
  margin-top: 30px;
}
#export-as-csv .icon {
  display: inline-block;
  margin-right: 5px;
  background: url(../images/icons.png);
  background-position: -120px -80px;
  height: 25px;
  width: 27px;
  vertical-align: middle;
}

#apps-list {
  background: #444;
  cursor: pointer;
  position: relative;
}

#apps-list:hover {
  background: #4285f4;
}

#apps-list-menu {
  background: #444;
  display: none;
  position: absolute;
  top: 50px;
}

#apps-list-menu li {
  display: block;
  float: none;
}

#apps-list-menu li:hover {
  background: #222;
}

#apps-list:hover #apps-list-menu, .inactive .inactive-waterfall-content, .app-form.edit-ad-providers label {
  display: block;
}

#apps-list-menu a, .content a:hover, .content a:focus, .left-apps-list ul a {
  text-decoration: none;
}

.content.settings, .app-list {
  margin-top: 120px;
}

.app-list ul.full-list, .waterfall ul {
  list-style: none;
  width: 100%;
  margin-bottom: 0;
}

.input-group {
  display: block;
}

.welcome-screen {
  margin: 70px auto;
  width: 600px;
}
.welcome-screen h1 {
  text-align: center;
}
.welcome-screen a {
  background: #4285f4;
  color: #fff;
  display: block;
  font-size: 16px;
  font-weight: 400;
  margin-top: 20px;
  padding: 10px;
  text-align: center;
}

#flash {
  cursor: pointer;
  display: inline-block;
}

#login-message {
  margin-left: -185px;
  margin-top: -88px;
}

#analytics-message {
  margin-top: -28px;
}

.flash-message {
  background: #ff9;
  border: 2px solid #cc9;
  border-radius: 1px;
  color: #993;
  display: none;
  left: 50%;
  margin-left: -200px;
  padding: 5px;
  position: fixed;
  text-align: center;
  top: 0;
  width: 400px;
  z-index: 2001;
  margin-top: 30px;
  padding: 14px;
}

.flash-message.success {
  color: #4285f4;
}

#full-system-message {
  background: #ff9;
  border: 2px solid #cc9;
  border-radius: 1px;
  color: #993;
  left: 0;
  margin: 70px 10px 10px;
  padding: 20px;
  text-align: center;
}

.full-success-message, .full-error-message {
  background: #ffff99;
  border: 2px solid #cccc99;
  border-radius: 1px;
  color: #999933;
  left: 50%;
  padding: 14px;
  text-align: center;
  position: fixed;
  width: 400px;
  margin-top: -50px;
  margin-left: -90px;
  z-index: 4000;
  font-family: "Helvetica Neue Light", Helvetica, sans-serif;
}

.full-error-message {
  background: #ff9999;
  border: 2px solid #ff6666;
  color: #fff;
}

.full-static-message {
  background: #ff9999;
  border: 2px solid #ff6666;
  border-radius: 1px;
  color: #fff;
  left: 0;
  padding: 14px;
  text-align: center;
  font-family: "Helvetica Neue Light", Helvetica, sans-serif;
  margin-bottom: 20px;
  animation: splash 500ms normal forwards ease-in-out;
}

.system-message {
  margin-top: 100px;
}

#new-app-message {
  margin-left: -200px;
  margin-top: -67px;
}

#registration-link {
  margin: 0 auto;
  padding-top: 20px;
  text-align: center;
  width: 400px;
  font-family: "Helvetica Neue Light", Helvetica, sans-serif;
}

.registration {
  margin: 120px auto 0;
  padding: 40px;
  text-align: center;
  width: 400px;
}
.registration h3 {
  margin-top: 20px;
}
.registration ul {
  padding-left: 25px;
  padding-top: 10px;
}
.registration dl {
  margin-bottom: 10px;
  margin-top: 10px;
}
.registration .modal-text {
  margin: 20px auto;
  width: 220px;
  padding: 0;
}
.registration input[type="checkbox"] {
  float: left;
  margin: 10px 5px 10px 0;
}
.registration h2 {
  font-size: 30px;
  padding: 20px;
  text-align: center;
}

#termsContainer {
  color: #666;
  height: 300px;
  margin-top: 20px;
  overflow: scroll;
  text-align: left;
}

span#viewTerms:hover {
  text-decoration: underline;
}

.clickable {
  color: #4285f4;
  cursor: pointer;
  font-weight: 700;
}

.unclickable {
  pointer-events: none;
}

.checkbox-label {
  font-size: 11px;
  margin-top: 20px;
  max-width: 400px;
  text-align: left;
}
.checkbox-label label {
  font-family: "Helvetica Neue Light", Helvetica, sans-serif;
}

.tooltip {
  background: #6d6d72;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  height: 20px;
  opacity: 100;
  padding-top: 2px;
  position: relative;
  text-align: center;
  width: 20px;
  z-index: auto;
}
.tooltip:before {
  border: solid;
  border-color: #000 transparent;
  border-width: 0 6px 6px;
  content: "";
  left: 22%;
  position: absolute;
  top: 23px;
  z-index: 1300;
  visibility: hidden;
  opacity: 0;
  transition: all linear 0.2s;
  -webkit-transition: all linear 0.2s;
}
.tooltip:hover:before {
  opacity: 1;
  visibility: visible;
}

.ngtooltip {
  opacity: 1;
  background: #000;
  color: #fff;
  padding: 5px 5px;
  position: absolute;
  left: -190px;
  top: 28px;
  width: 220px;
  z-index: 1200;
  text-align: left;
}
.ngtooltip.ng-hide {
  transition: all linear 0.2s;
  -webkit-transition: all linear 0.2s;
  display: block !important;
  visibility: hidden;
  opacity: 0;
}

.waterfall-list h1 {
  font-size: 36px;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}
.waterfall-list.waterfall-sort {
  min-height: 50px;
}

#waterfall-sub-header {
  background: #f0eff5;
  color: #6d6d72;
  height: 60px;
  margin-top: 20px;
  padding: 15px;
  font-family: "Helvetica Neue Light", Helvetica, sans-serif;
  border: 1px solid #c8c7cc;
}
#waterfall-sub-header .waterfall-buttons {
  position: relative;
  float: right;
  height: 31px;
  padding-right: 10px;
  border-left: 1px solid #dddde0;
  padding-left: 10px;
}
#waterfall-sub-header .waterfall-buttons .onoffswitch {
  margin-left: 9px;
}
#waterfall-sub-header .waterfall-buttons.first {
  border-left: 0px;
}
#waterfall-sub-header .waterfall-buttons.disabled .button-overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #efeff4;
  opacity: 0.8;
  z-index: 1000;
}
#waterfall-sub-header .waterfall-buttons .pause {
  background: url(../images/icons.png);
  background-position: -50px -81px;
  cursor: pointer;
  width: 32px;
  height: 32px;
  float: right;
  margin-left: 10px;
}
#waterfall-sub-header .waterfall-buttons .pause.play {
  background-position: -50px -122px;
}
#waterfall-sub-header .waterfall-status {
  position: relative;
  float: left;
  height: 31px;
  padding-right: 10px;
  padding-left: 10px;
}
#waterfall-sub-header .waterfall-status .waterfall-status-container {
  position: relative;
  border-radius: 15px;
  width: 150px;
  height: 30px;
  padding-top: 4px;
  float: right;
  margin-left: 10px;
  text-align: center;
  background: #6e6d72;
  box-shadow: inset 1px 2px 2px 1px rgba(0, 0, 0, 0.25);
}
#waterfall-sub-header .waterfall-status .waterfall-status-container span {
  position: relative;
  color: #fff;
  font-size: 11px;
  margin: 0 10px;
  z-index: 10;
  cursor: pointer;
}
#waterfall-sub-header .waterfall-status .waterfall-status-container #status-toggle {
  border-radius: 12px;
  height: 24px;
  width: 50px;
  background: #3c7cea;
  position: absolute;
  top: 3px;
  left: 3px;
  z-index: 0;
  -webkit-transition: 200ms ease all;
  box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.25);
}
#waterfall-sub-header .waterfall-status .waterfall-status-container #status-toggle.live {
  background: #6cd28b;
  left: 45px;
}
#waterfall-sub-header .waterfall-status .waterfall-status-container #status-toggle.paused {
  background: #989898;
  left: 90px;
  width: 56px;
}
#waterfall-sub-header .text-label {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  color: #6d6d72;
  font-size: 12px;
  margin-top: 7px;
  margin-left: 5px;
}
#waterfall-sub-header .app-token {
  float: left;
  width: 375px;
}

@keyframes splash {
  from {
    opacity: 0.2;
    transform: scale(1, 1);
  }

  50% {
    opacity: 1;
    transform: scale(1, 1);
  }

  to {
    transform: scale(1, 1);
  }
}

.configure-tooltip {
  opacity: 1;
  background: #000;
  color: #fff;
  left: initial;
  padding: 5px 5px;
  position: absolute;
  right: -16px;
  width: 70px;
  font-size: 11px;
  top: -21px;
  z-index: 1200;
  border-radius: 2px;
  text-align: center;
}
.configure-tooltip:before {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #000;
  content: "";
  left: 41%;
  position: absolute;
  top: 23px;
  z-index: 1300;
  transition: all linear 0.2s;
  -webkit-transition: all linear 0.2s;
}

.waterfall ul li {
  background: #fff;
  border: 1px solid #c8c7cc;
  height: 80px;
  margin: 20px 0 0 0;
  padding: 20px;
  position: relative;
  animation: splash 500ms normal forwards ease-in-out;
}
.waterfall ul li button {
  position: relative;
  background: #6cd28b;
  float: right;
  margin: 0 0 0 10px;
  width: 120px;
  height: 40px;
  padding: 10px;
  overflow: hidden;
  cursor: pointer;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  outline: none;
}
.waterfall ul li button.active:hover .deactivate {
  left: 0;
}
.waterfall ul li button.inactive:hover .activate {
  right: 0;
}
.waterfall ul li button.loading.active:hover .deactivate {
  left: 100%;
}
.waterfall ul li button.loading.inactive:hover .activate {
  right: 100%;
}
.waterfall ul li button.active {
  border-bottom: 1px solid #319443;
}
.waterfall ul li button.active .icon {
  display: inline-block;
  margin-right: 5px;
  background: url(../images/icons.png);
  background-position: -94px -109px;
  height: 20px;
  width: 20px;
  vertical-align: middle;
}
.waterfall ul li button.inactive {
  background: #383838;
  border-bottom: 1px solid #000000;
}
.waterfall ul li button.inactive .icon {
  display: inline-block;
  margin-right: 5px;
  background: url(../images/icons.png);
  background-position: -94px -138px;
  height: 20px;
  width: 20px;
  vertical-align: middle;
}
.waterfall ul li button label {
  margin: 0 0 2px 0;
  font-weight: normal;
  vertical-align: middle;
}
.waterfall ul li button .deactivate {
  position: absolute;
  top: 0;
  left: 100%;
  padding: 10px;
  background: #e37070;
  height: 100%;
  width: 100%;
  -webkit-transition: 250ms ease all;
  transition: 250ms ease all;
}
.waterfall ul li button .activate {
  position: absolute;
  top: 0;
  right: 100%;
  padding: 10px;
  background: #3c7cea;
  height: 100%;
  width: 100%;
  -webkit-transition: 300ms ease all;
  transition: 250ms ease all;
}
.waterfall ul li .below-reward-threshold-message {
  color: #ff0000;
  margin-left: 10px;
  font-size: 13px;
}
.waterfall ul li div.configure {
  position: relative;
  cursor: pointer;
  width: 22px;
  height: 21px;
  margin-top: 8px;
  margin-right: 10px;
  background: url(../images/icons.png);
  background-position: -90px -5px;
  float: right;
}
.waterfall ul li div.configure .configure-tooltip {
  right: -24px;
  top: -37px;
}
.waterfall ul li .waterfall-app-info {
  float: left;
  margin-left: 60px;
  font-family: "Helvetica Neue Light", Helvetica, sans-serif;
}
.waterfall ul li .waterfall-app-info h3 {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  color: #4f73e7;
  font-size: 15px;
}
.waterfall ul li b {
  font-size: 12px;
  font-weight: 700;
}
.waterfall ul li .actions {
  color: #4285f4;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  min-height: 90px;
  position: absolute;
  right: 21px;
  top: 21px;
}

.waterfall .below-reward-threshold {
  border: 2px solid #ff6666;
}

.ui-sortable-disabled .waterfall-drag-1,
.ui-sortable-disabled .waterfall-drag-2,
.ui-sortable-disabled .waterfall-drag-3 {
  background: #efefef;
}

.ui-sortable-disabled .waterfall-drag {
  cursor: auto;
}

.waterfall-drag {
  cursor: row-resize;
  height: 30px;
  left: 30px;
  position: absolute;
  top: 30px;
  width: 26px;
}

.waterfall-drag-1 {
  background: #CCCCCC;
  height: 3px;
  width: 20px;
}

.waterfall-drag-2,
.waterfall-drag-3 {
  background: #CCCCCC;
  height: 3px;
  margin-top: 6px;
  width: 20px;
}

.inactive .inactive-waterfall {
  background: #fff;
  bottom: 0;
  display: block;
  left: 0;
  opacity: 0.8;
  position: absolute;
  right: 0;
  top: 0;
}

.inactive-button {
  width: 100px;
}

button.inactive {
  background-color: #d3dcf9;
}

.onoffswitch {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  float: right;
  position: relative;
  width: 50px;
}

.onoffswitch-label {
  border-radius: 15px;
  cursor: pointer;
  display: block;
  overflow: hidden;
  box-shadow: inset 0px 0px 3px 2px rgba(0, 0, 0, 0.25);
}

.onoffswitch-inner {
  -moz-transition: margin .3s ease-in;
  -o-transition: margin .3s ease-in;
  -webkit-transition: margin .3s ease-in;
  display: block;
  margin-left: -100%;
  transition: margin .3s ease-in;
  width: 200%;
}

.onoffswitch-inner:before,
.onoffswitch-inner:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #FFF;
  display: block;
  float: left;
  font-size: 14px;
  font-weight: 700;
  height: 30px;
  line-height: 30px;
  padding: 0;
  width: 50%;
}

.onoffswitch-inner:before {
  background-color: #3c7cea;
  color: #FFF;
  content: "";
  padding-left: 10px;
}

.onoffswitch-inner:after {
  background-color: #6e6d72;
  color: #999;
  content: "";
  padding-right: 10px;
  text-align: right;
}

.onoffswitch-switch {
  -moz-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
  background: #FFF;
  border-radius: 15px;
  bottom: 0;
  display: block;
  height: 24px;
  margin: 3px;
  position: absolute;
  right: 20px;
  top: 0;
  transition: all .3s ease-in;
  width: 24px;
  box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.25);
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0;
}

.onoff-field {
  overflow: hidden;
}

.switch-left {
  float: left;
}

#initialize-sdk {
  background: #dce3fa;
  border: 2px solid #b9c7f5;
  color: #3c7cea;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  margin-top: 20px;
  font-size: 14px;
  padding: 22px;
  position: relative;
  text-align: center;
  cursor: pointer;
  animation: splash 500ms normal forwards ease-in-out;
}

#initialize-sdk .code-block {
  -moz-transition: all 600ms ease;
  -ms-transition: all 600ms ease;
  -o-transition: all 600ms ease;
  -webkit-transition: all 600ms ease;
  height: 0;
  overflow: hidden;
  transition: all 600ms ease;
}

#arrow-dropdown {
  -moz-transform: rotate(0deg);
  -moz-transition: all 200ms ease;
  -ms-transform: rotate(0deg);
  -ms-transition: all 200ms ease;
  -o-transform: rotate(0deg);
  -o-transition: all 200ms ease;
  -webkit-transform: rotate(0deg);
  -webkit-transition: all 200ms ease;
  background: url(../images/icons.png);
  background-position: -11px -11px;
  cursor: pointer;
  height: 17px;
  position: absolute;
  right: 20px;
  top: 24px;
  transform: rotate(0deg);
  transition: all 200ms ease;
  width: 17px;
}

#initialize-sdk.open #arrow-dropdown {
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

#initialize-sdk.open .code-block {
  height: 110px;
}

#edit-top {
  position: relative;
}

#waterfall-app-settings-button {
  -webkit-appearance: none;
  background: #3c7cea;
  border: 0;
  border-radius: 3px;
  color: #fff;
  font-size: 14px;
  height: 58px;
  padding: 15px;
  position: absolute;
  right: 0;
  text-align: center;
  top: -10px;
  width: 157px;
}

.waterfall-edit-description {
  color: #222;
  margin: 10px auto 0;
  max-width: 800px;
}

#initialize-sdk .copy-paste-code {
  margin-top: 10px;
  text-align: left;
  width: 95%;
  padding: 6px 40px;
  cursor: text;
}

.copy-paste-code {
  background: #fff;
  border-radius: 0;
  color: #6d6d72;
  display: inline-block;
  font-size: 12px;
  font-weight: 400;
  padding: 6px;
  text-align: center;
  width: 295px;
}

.td-waterfall-config {
  width: 250px;
}

#warning-header {
  font-size: 36px;
  color: #ff6666;
}

button.cancel-button, button.confirm-button {
  -webkit-appearance: none;
  background: #666;
  border: 0;
  border-radius: 3px;
  color: #fff;
  font-size: 14px;
  height: 58px;
  text-align: center;
}

button.confirm-button {
  background: #ff6666;
}

.pending-status {
  font-size: 15px;
}

.ecpm-display {
  font-size: 13px;
}

.ng-modal-dialog {
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  background: #fff;
  border: 1px solid #dddde0;
  color: #333;
  font-size: 13px;
  left: 50%;
  max-height: 90%;
  overflow-y: auto;
  padding: 40px;
  position: fixed;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000;
}

.ng-modal-dialog-content h1 {
  margin: 0 0 10px;
  text-align: center;
  font-family: "Helvetica Neue Ultra Light", sans-serif;
}

#email-modal {
  background: #fff;
  border: 1px solid #dddde0;
  color: #333;
  font-size: 13px;
  left: 50%;
  margin-left: -200px;
  padding: 40px;
  position: fixed;
  text-align: center;
  top: 180px;
  width: 400px;
  z-index: 3000;
}

.close-button {
  background: url(../images/close.png);
  cursor: pointer;
  height: 18px;
  position: absolute;
  right: 18px;
  top: 18px;
  width: 18px;
}

.modal-submit {
  -webkit-appearance: none;
  background: #3c7cea;
  border: 0;
  border-radius: 3px;
  color: #fff;
  font-size: 14px;
  margin-top: 10px;
  padding: 15px;
  text-align: center;
  width: 100%;
}

.ng-modal-overlay {
  background: #fff;
  bottom: 0;
  height: 100%;
  left: 0;
  opacity: 0.9;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999;
}

#email_modal .modal-text {
  margin: 10px auto;
  text-align: center;
  width: 220px;
}

.modal-centered {
  margin: auto;
}

#test-mode-confirmation-modal {
  width: 400px;
}

.modal {
  background: #fff;
  border: 1px solid #dddde0;
  bottom: 0;
  color: #333;
  display: none;
  font-size: 13px;
  left: 50%;
  margin-top: 20px;
  overflow-y: scroll;
  padding: 40px;
  position: fixed;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  z-index: 3000;
}

.modal-overlay {
  background: #fff;
  bottom: 0;
  display: none;
  left: 0;
  opacity: 0.9;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2000;
}

.modal-text {
  padding-bottom: 10px;
  text-align: center;
  font-family: "Helvetica Neue Light", Helvetica, sans-serif;
}

.modal-label {
  color: #333;
  display: inline-block;
  text-align: right;
  width: 150px;
}

.modal-inactive {
  -moz-opacity: 0.5;
  background-position: center;
  background-repeat: no-repeat;
  filter: alpha(opacity=50);
  height: 100%;
  left: 0;
  opacity: 0.5;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}

.app-modal-message {
  margin-left: -200px;
  margin-top: -65px;
}

.wap-modal-message {
  position: fixed;
  margin-left: -200px;
  margin-top: -65px;
}
