@(distributorID: Long, appsWithWaterfalls: List[AppWithWaterfallID])(implicit flash: Flash, session: Session)

@main("Edit Waterfall", distributorID) {
    @views.html.Partials.subHeader("waterfall", distributorID, None, None)
    @views.html.Partials.appList(distributorID, None, appsWithWaterfalls)
    <div class="split_content waterfall_list">
        <div id="waterfall-edit-success" class="flash-message success"></div>
        <div id="waterfall-edit-error" class="flash-message error"></div>
        <h1>Select App to begin</h1>
        <hr />
        <div class="modal-text">
            Select App from the left to begin modifying your waterfall.
        </div>
        <div class="waterfall-token"> </div>
    </div>
}

<script src="@routes.Assets.at("javascripts/waterfalls/edit.js")" type="text/javascript"></script>
