@(distributorID: Long, waterfall: Waterfall, adProviderOrder: List[OrderedWaterfallAdProvider], appsWithWaterfalls: List[AppWithWaterfallID], generationNumber: Option[Long])(implicit flash: Flash, session: Session)

    <div id="modal-overlay" class="modal-overlay"></div>
    @main("Edit Waterfall", distributorID, Some(waterfall.app_id)) {
        @views.html.Partials.subHeader("waterfall", distributorID, Some(waterfall.app_id), Some(waterfall.id))
        <div class="content waterfall_list" data-waterfall-id="@waterfall.id" data-distributor-id="@distributorID" data-generation-number="@{generationNumber match {case Some(id) => id; case None => 0}}">
            <div id="waterfall-edit-success" class="flash-message success"></div>
            <div id="waterfall-edit-error" class="flash-message error"></div>
            <h1 class="header-dropdown">Edit Waterfall for</h1>
            <div class="col-sm-4">
                <select id="waterfall-selection" class="input-sm form-control" name="waterfall-selection">
                @for(appInfo <- appsWithWaterfalls) {
                    @if(waterfall.app_id == appInfo.id) {
                        <option value="@routes.WaterfallsController.edit(distributorID, appInfo.waterfallID)" selected>@appInfo.name</option>
                    } else {
                        <option value="@routes.WaterfallsController.edit(distributorID, appInfo.waterfallID)">@appInfo.name</option>
                    }
                }
                </select>
            </div>
            <div class="app-token" data-app-token="@waterfall.appToken">API Token:
                <code>@waterfall.appToken</code>
            </div>
            <table>
                <td class="td-waterfall-config">
                    <label>Test Mode:</label>
                    <div class="onoffswitch">
                        @if(waterfall.testMode) {
                            <input type="checkbox" name="test-mode" class="onoffswitch-checkbox" id="test-mode-switch" checked>
                        } else {
                            <input type="checkbox" name="test-mode" class="onoffswitch-checkbox" id="test-mode-switch">
                        }
                        <label class="onoffswitch-label" for="test-mode-switch">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                        </label>
                    </div>
                </td>
                <td>
                    <h4 class="tooltip" data-title="Test Mode will allow you to test your integration by playing a video with an unlimited frequency cap.">?</h4>
                </td>
                <tr/>
                <td class="td-waterfall-config">
                    <label>Optimized Mode:</label>
                    <div class="onoffswitch">
                        @if(waterfall.optimizedOrder) {
                            <input type="checkbox" name="optimized-order" class="onoffswitch-checkbox" id="optimized-mode-switch" checked>
                        } else {
                            <input type="checkbox" name="optimized-order" class="onoffswitch-checkbox" id="optimized-mode-switch">
                        }
                        <label class="onoffswitch-label" for="optimized-mode-switch">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                        </label>
                    </div>
                </td>
                <td>
                    <h4 class="tooltip" data-title="Optimized Mode will ensure that your waterfall will be ordered by eCPM with the highest paying partners at the top.">?</h4>
                </td>
            </table>
            <div class="waterfall ul">
                <h1>Waterfall Order</h1>
                <ul id="waterfall-list" class="waterfall-sort">
                    @for((adProviderConfig) <- adProviderOrder) {
                        <li class="@{if(adProviderConfig.active) "waterfall" else "inactive"}" data-configurable="@adProviderConfig.configurable" data-cpm="@adProviderConfig.cpm" data-order-number="@adProviderConfig.waterfallOrder" data-active="@adProviderConfig.active" data-new-record="@adProviderConfig.newRecord" data-id="@adProviderConfig.waterfallAdProviderID" id="@{adProviderConfig.newRecord + "-" + adProviderConfig.waterfallAdProviderID}">
                            <div class="@{if(adProviderConfig.active) "hideable hideable-wap-info" else "hideable hidden-wap-info" }">
                                <h3>@adProviderConfig.name</h3>
                                <div class="waterfall ul li b">
                                    <label>eCPM:</label>
                                    <div name="cpm" style="display: inline-block;">@adProviderConfig.cpm</div>
                                </div>
                                <button class="status" type="submit" name="status">
                                    Deactivate
                                </button>
                                <button style="display: @{if(adProviderConfig.newRecord) "none" else "inline-block"}" name="configure-wap" class="configure active-button" type="submit">
                                    Configure
                                </button>
                            </div>
                            <div class="waterfall-drag">
                                <div class="waterfall-drag-1"></div>
                                <div class="waterfall-drag-2"></div>
                                <div class="waterfall-drag-3"></div>
                            </div>
                            <div class="inactive-waterfall">
                            </div>
                            <div class="inactive-waterfall-content">
                                <h3>@adProviderConfig.name</h3>
                                <button class="status inactive-button" type="submit" name="status">
                                    Activate
                                </button>
                                <button class="configure inactive-button" name="configure-wap" type="submit">
                                    Configure
                                </button>
                            </div>
                        </li>
                    }
                </ul>
            </div>
            <button type="submit" name="submit">Save Changes</button>
        </div>
        <div id="edit-waterfall-ad-provider" class="modal"></div>
    }

<script src="@routes.Assets.at("javascripts/waterfalls/edit.js")" type="text/javascript"></script>
