@main("Waterfall") {
    <div class="content waterfall">
        <h1>Waterfall</h1>
        Drag and drop the ad networks into your preferred order.
        <ul id="waterfall">
            <li>
                <h3>AdColony</h3>
                <div class="description"><b>Payout Rate:</b> 80% <b>Offer Availablity Rate:</b> 80% <b>Completion Rate:</b> 80%</div>
                <div class="actions">Drag</div>
            </li>
            <li>
                <h3>Vungle</h3>
                <div class="description"><b>Payout Rate:</b> 80% <b>Offer Availablity Rate:</b> 80% <b>Completion Rate:</b> 80%</div>
                <div class="actions">Drag</div>
            </li>
            <li>
                <h3>HyprMX</h3>
                <div class="description"><b>Payout Rate:</b> 80% <b>Offer Availablity Rate:</b> 80% <b>Completion Rate:</b> 80%</div>
                <div class="actions">Drag</div>
            </li>
            <li>
                <h3>AppLovin</h3>
                <div class="description"><b>Payout Rate:</b> 80% <b>Offer Availablity Rate:</b> 80% <b>Completion Rate:</b> 80%</div>
                <div class="actions">Drag</div>
            </li>
            <li>
                <h3>Flurry</h3>
                <div class="description"><b>Payout Rate:</b> 80% <b>Offer Availablity Rate:</b> 80% <b>Completion Rate:</b> 80%</div>
                <div class="actions">Drag</div>
            </li>
        </ul>
    </div>
    <script>
        $( "#waterfall" ).sortable();
    </script>
}