<div id="left-content">
    <div class="left-apps-list">
        <h2>Active Apps</h2>
        <ul>
            <a class="app-list-link" ng-repeat="appInfo in waterfallData.appsWithWaterfalls" href="/distributors/{{distributorID}}/waterfalls/{{appInfo.waterfallID}}/edit" target="_self">
                <div class="ngtooltip configure-tooltip" ng-show="hoverApp">Configure</div>
                <li class="preserve-whitespace" ng-class="{active: appInfo.id == appID}" name="{{appInfo.name}}" title="{{appInfo.name}}">{{appInfo.name}}<div ng-mouseenter="hoverApp=true" ng-mouseleave="hoverApp=false" ng-click="$event.stopPropagation(); $event.preventDefault(); toggleEditAppModal(appInfo.id);"  class="settings-icon"></div></li>
            </a>
        </ul>
    </div>
    <div ng-click='toggleNewAppModal()' id="create-new-app">
        <div class="icon"></div>
        Create New App
    </div>
</div>
