<div id="left-content">
    <div class="left-apps-list">
        <h2>Active Apps</h2>
        <ul>
            <a class="app-list-link" ng-repeat="appInfo in waterfallData.appsWithWaterfalls" href="/distributors/{{distributorID}}/waterfalls/{{appInfo.waterfallID}}/edit" target="_self">
                <div class="ngtooltip configure-tooltip" ng-show="hoverApp">Configure</div>
                <li class="app-list-name-container preserve-whitespace" ng-class="{active: appInfo.id === appID}" name="{{appInfo.name}}" title="{{appInfo.name}}">
                    <span class="app-list-name">
                        <span class="app-name">{{appInfo.name}}</span>
                        <img alt="" ng-src="{{platforms.logoSource(appInfo.platformName, appInfo.id !== appID)}}" class="platform-logo"><img>
                    </span>
                    <div ng-mouseenter="hoverApp=true" ng-mouseleave="hoverApp=false" ng-click="$event.stopPropagation(); $event.preventDefault(); toggleEditAppModal(appInfo.id);" class="settings-icon"/>
                </li>
            </a>
        </ul>
    </div>
    <div ng-click='toggleNewAppModal()' id="create-new-app">
        <div class="icon"></div>
        Create New App
    </div>
</div>
