<div id="left_content">
    <div class="left_apps_list">
        <h2>Apps</h2>
        <ul ng-repeat="appInfo in waterfallData.appsWithWaterfalls" >
            <a href="/distributors/{{distributorID}}/waterfalls/{{appInfo.waterfallID}}/edit" target="_self"><li class="preserve-whitespace" ng-class="{active: appInfo.id == appID}" title="{{appInfo.name}}">{{appInfo.name}}</li></a>
        </ul>
    </div>
    <button ng-click='toggleNewAppModal()' id="create_new_app" type="button">
        Create New App
    </button>
</div>
