<div id="modal-overlay" class="modal-overlay"></div>
<div id="waterfall-controller" ng-controller="WaterfallController">
    <div ng-include="subHeader"></div>
    <div ng-include="appList"></div>
    <div id="waterfall-edit" class="split_content waterfall_list">
        <div ng-repeat="message in messages" ng-click="acknowledgeMessage($index)" id="waterfall-edit-message" class="full-{{message.status}}-message">
            {{message.text}}
        </div>
        <div ng-show="waterfallData.waterfall.testMode" id="test-mode-message" class="full-error-message">
            You are currently working in Test Mode.
        </div>
        <div id="edit-top">
            <h1 class="preserve-whitespace">{{appName}} Waterfall</h1>
            <button ng-click="toggleEditAppModal()" id="waterfall-app-settings-button">App Settings</button>
        </div>
        <div id="waterfall_sub_header">
            <div class="app-token">
                API Token
                <code class="copy-paste-code">{{waterfallData.waterfall.appToken}}</code>
            </div>

            <modal-dialog show='modalShown'>
                <div id="edit-app" ng-show="showEditAppModal">
                    <div ng-include="editAppModal"></div>
                </div>
                <div id="create-app" ng-show="showNewAppModal">
                    <div ng-include="newAppModal"></div>
                </div>
                <div id="edit-waterfall-ad-provider" ng-show="showWaterfallAdProviderModal">
                    <div ng-include="editWaterfallAdProviderModal"></div>
                </div>
                <div id="test-mode-confirmation" ng-show="showTestModeConfirmationModal">
                    <div ng-include="testModeConfirmationModal"></div>
                </div>
            </modal-dialog>

            <div class="waterfall-buttons">
                <h4 ng-mouseenter="hoverOptimized=true" ng-mouseleave="hoverOptimized=false" class="tooltip">
                    ?
                    <div class="ngtooltip" ng-show="hoverOptimized">Optimized Mode will ensure that your waterfall will be ordered by eCPM with the highest paying partners at the top.</div>
                </h4>
                <label class="text-label">Optimized Mode</label>
                <div class="onoffswitch">
                    <input ng-click="toggleOptimizedMode()" ng-model="waterfallData.waterfall.optimizedOrder" type="checkbox" name="optimized-order" class="onoffswitch-checkbox" id="optimized-mode-switch">
                    <label class="onoffswitch-label" for="optimized-mode-switch">
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                    </label>
                </div>
            </div>

            <div class="waterfall-buttons">
                <h4 ng-mouseenter="hoverTestMode=true" ng-mouseleave="hoverTestMode=false" class="tooltip">
                    ?
                    <div class="ngtooltip" ng-show="hoverTestMode">Test Mode will allow you to test your integration by playing a video with an unlimited frequency cap.</div>
                </h4>
                <label class="text-label">Test Mode</label>
                <div class="onoffswitch">
                    <input ng-click="toggleTestMode(waterfallData.waterfall.testMode)" ng-model="waterfallData.waterfall.testMode" type="checkbox" name="test-mode" class="onoffswitch-checkbox" id="test-mode-switch">
                    <label class="onoffswitch-label" for="test-mode-switch">
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                    </label>
                </div>
            </div>
        </div>

        <div id="initialize_sdk" ng-click="toggleCodeBlock()" ng-class="{open: showCodeBlock}">
            <div id="arrow_dropdown"></div>
            Click here for HyprMediate initialization code snippet
            <div class="code-block">
                <div class="waterfall-edit-description">
                    Copy and paste this following code, wherever you plan on initializing HyprMediate.  For a step by step integration guide and suggestions on generating a user ID, please see our <a href="http://documentation.hyprmx.com/display/IS/Implementing+Basic+Features">documentation</a>.
                </div>
                <code class="waterfall-edit-description copy-paste-code">
                    // Be sure to define myUsersUniqueId() using whatever strategy you choose to generate a user ID.
                    <br/>
                    NSString *userId = myUsersUniqueId();
                    <br/>
                    [HYPRMediate initialize:@"{{waterfallData.waterfall.appToken}}" userId:userId];
                </code>
            </div>
        </div>

        <div class="waterfall ul">
            <ul ui-sortable="sortableOptions" ng-model="waterfallData.waterfallAdProviderList" id="waterfall-list" class="waterfall-sort">
                <li ng-repeat="adProviderConfig in waterfallData.waterfallAdProviderList" id="{{adProviderConfig.name}}" ng-class="{waterfall: adProviderConfig.active, inactive: ''}">
                    <div ng-class="{'hideable hideable-wap-info': adProviderConfig.active, 'hideable hidden-wap-info': ''}">
                        <div class="waterfall-app-info">
                            <div class="pending-status" ng-show="{{adProviderConfig.pending}}">
                                <h4>{{adProviderConfig.name}} is Pending</h4>
                                <h5>To check if it's ready, please refresh your browser.</h5>
                            </div>
                            <div ng-hide="{{adProviderConfig.pending}}">
                                <h3>{{adProviderConfig.name}}</h3>
                                <div ng-hide="adProviderConfig.cpm === null" class="waterfall ul li b">
                                    <label>eCPM:</label>
                                    <div name="cpm" style="display: inline-block;">${{adProviderConfig.cpm | monetaryFormat}}</div>
                                </div>
                            </div>
                        </div>
                        <div ng-hide="{{adProviderConfig.pending}}" class="wap-buttons">
                            <button ng-hide="adProviderConfig.unconfigured" ng-click="toggleWAPStatus(adProviderConfig)" class="status" type="submit" name="status">
                                {{adProviderConfig.active | waterfallStatus}}
                            </button>
                            <button ng-show="adProviderConfig.configurable" ng-click="editWaterfallAdProvider(adProviderConfig)" name="configure-wap" class="configure active-button" type="submit">
                                Configure
                            </button>
                        </div>
                        <div ng-hide="waterfallData.optimizedMode" class="waterfall-drag">
                            <div class="waterfall-drag-1"></div>
                            <div class="waterfall-drag-2"></div>
                            <div class="waterfall-drag-3"></div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
