<div id="test-mode-confirmation-modal">
    <h1 id="warning-header">
        Are You Sure <br/>
        You Want to Enable <br/>
        Test Mode?
    </h1>
    <hr class="divider"/>
    <p>Switching to test mode will stop your app from generating revenue through hyprMediate and only show test ads to users.</p>
    <button id="test_mode_confirmation" class="confirm-button" type="submit" ng-click="confirmTestMode()">Confirm</button>
    <button id="test_mode_cancel" class="cancel-button" type="button" ng-click="cancelTestMode()">Cancel</button>
</div>
