@(form: Form[Login])(implicit flash: Flash, session: Session)
@main("Log In") {
    <div class="content registration">
        <h1>Welcome Back!</h1>
        <hr />
        <div class="modal_text">
            Enter your username and password below to gain access.
        </div>
        @println(session.get("user"))
        @views.html.Partials.formErrors(form.hasErrors, form.errors)
            @helper.form(action = routes.DistributorUsersController.authenticate) {
                @helper.inputText(form("email"),'_showConstraints -> true, 'placeholder -> "Email", '_label -> null)
                @helper.inputPassword(form("password"),'_showConstraints -> true, 'placeholder -> "Password", '_label -> null)
                <button type="submit" name="submit">Log In</button>
            }
    </div>
    <div id="registration-link">
        <a href="@routes.DistributorUsersController.signup()">Create a hyprMediate Account</a>
    </div>
}
