@(form: Form[Signup])(implicit session: play.api.mvc.Session)

<div class="content registration">
    <h1>Sign Up</h1>
    @if(form.hasErrors) {
        <h3>Oops</h3>

        <ul>
            @form.errors.map { error =>
                <li>@error.message</li>
            }
        </ul>
    }

    @main("Sign up") {
        @helper.form(action = routes.DistributorUsersController.create) {
            @helper.inputText(form("company"),'_showConstraints -> false, 'placeholder -> "Company Name", '_label -> null)
            @helper.inputText(form("email"),'_showConstraints -> false, 'placeholder -> "Email", '_label -> null)
            @helper.inputPassword(form("password"),'_showConstraints -> false, 'placeholder -> "Password", '_label -> null)
            @helper.inputPassword(form("confirmation"),'_showConstraints -> false, 'placeholder -> "Password (confirm)", '_label -> null)
            @helper.checkbox(form("terms"), '_label -> "By checking this box, you agree to our terms and conditions", '_help -> "")
            <button type="submit" name="submit">Sign up</button>
        }
    }
</div>
