@(form: Form[tempDistributorApp], distributorID: Long, appID: Long)
@main("Modify App Configuration") {
    @views.html.Partials.subHeader("settings", distributorID, appID)
    <div class="content settings">
        <h1>Modify App Configuration</h1>
            @helper.form(action = routes.AppsController.update(distributorID, appID)) {
                @helper.inputText(form("name"), '_showConstraints -> true, 'placeholder -> "name", '_label -> null)
                <button type="submit" name="submit">Save Changes</button>
            }
    </div>
}
