@(apps: List[AppWithWaterfallID], distributorID: Long)(implicit flash: Flash)
@main("Welcome to Play") {
    <div class="content app_list">
      <h1>My Apps</h1>
      <div class="content_actions">
          <a href="@routes.AppsController.newApp(distributorID)">Create New App</a>
      </div>
      <ul class="full_list">
        @for(app <- apps) {
          <li>
              <h3>
                  <a href='@routes.AppsController.edit(distributorID, app.id)'>
                      @app.name
                  </a>
              </h3>
              <div class="description">A brief overview of a couple app settings here (ex. active vs inactive etc.)</div>
              <div class="actions">
                  <a href='@routes.AnalyticsController.show(distributorID, app.id)'>
                      View
                  </a>
                  <div>
                      <a href='@routes.WaterfallsController.edit(distributorID, app.waterfallID)'>
                          Edit Waterfall
                      </a>
                  </div>
              </div>
          </li>
        }
      </ul>
    </div>
}