@(user: DistributorUser)(implicit flash: Flash, session: Session)
<div class="content app_list">
    <h1>My Apps</h1>
    <ul>
        <li>
            <h3>App Name</h3>
            <div class="description">A brief overview of a couple app settings here (ex. active vs inactive etc.)</div>
            <div class="actions"><a href="dashboard.html">Modify</a></div>
        </li>
        <li>
            <h3>App Name</h3>
            <div class="description">A brief overview of a couple app settings here (ex. active vs inactive etc.)</div>
            <div class="actions"><a href="dashboard.html">Modify</a></div>
        </li>
        <li>
            <h3>App Name</h3>
            <div class="description">A brief overview of a couple app settings here (ex. active vs inactive etc.)</div>
            <div class="actions"><a href="dashboard.html">Modify</a></div>
        </li>
        <li>
            <h3>App Name</h3>
            <div class="description">A brief overview of a couple app settings here (ex. active vs inactive etc.)</div>
            <div class="actions"><a href="dashboard.html">Modify</a></div>
        </li>
        <li>
            <h3>App Name</h3>
            <div class="description">A brief overview of a couple app settings here (ex. active vs inactive etc.)</div>
            <div class="actions"><a href="dashboard.html">Modify</a></div>
        </li>
    </ul>
    @main("Welcome to Play") {
    }
</div>