@(app: App, distributorID: Long, appID: Long)(implicit flash: Flash)
@main("Dashboard", distributorID) {
    @views.html.Partials.subHeader("dashboard", distributorID, appID)
    <div class="content dashboard">
        <h1>Dashboard - @app.name</h1>
        <div id="prev_app">
            Previous App
        </div>
        <div id="next_app">
            Next App
        </div>
        <div class="dashboard_box">
            <h2>Unique Users</h2>
            <div class="dashboard_numbers">
                100
            </div>
        </div>
        <div class="dashboard_box">
            <h2>Requests</h2>
            <div class="dashboard_numbers">
                456
            </div>
        </div>
        <div class="dashboard_box">
            <h2>Fill Rate</h2>
            <div class="dashboard_numbers">
                70%
            </div>
        </div>
        <div class="dashboard_box">
            <h2>Estimated Revenue</h2>
            <div class="dashboard_numbers">
                $5500
            </div>
        </div>
        <div style="clear: both;"></div>
    </div>
}