// Color definitions
$mediate-blue: #4285f4;
$mediate-light-blue: #4f73e7;

$background-color: #efefef;
$anchor-color: $mediate-blue;
$h1-color: $mediate-blue;

$header-background-color: #222222;

$input-background-color: #f9f9f9;
$input-border-bottom-color: #c8c7cc;

$button-background-color: $mediate-light-blue;
$button-font-color: #ffffff;

$form-error: #ff0000;
