.tooltip {
  background: #6d6d72;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  height: 20px;
  opacity: 100;
  padding-top: 2px;
  position: relative;
  text-align: center;
  width: 20px;
  z-index: auto;
}

.ngtooltip {
  opacity: 1;
  background: #ff9;
  border: 2px solid #cc9;
  border-radius: 5px;
  color: #993;
  padding: 5px 15px;
  position: absolute;
  left: -190px;
  top: 29px;
  width: 220px;
  z-index: 1200;
  text-align: left;
}

.ngtooltip.ng-hide {
  transition: all linear 0.5s;
  -webkit-transition: all linear 0.5s;
  display: block !important;
  visibility: hidden;
  opacity: 0;
}

.tooltip:before {
  border: solid;
  border-color: #cc9 transparent;
  border-width: 0 6px 6px;
  content: "";
  left: 22%;
  position: absolute;
  top: 23px;
  z-index: 1300;
  visibility: hidden;
}

.tooltip:hover:before {
  visibility: visible;
}