@(title: String, distributorID: Long = 0, appID: Option[Long] = None)(content: Html)(implicit flash: Flash, session: Session)
@import play.api.Play
<!DOCTYPE html>

<html>
    <head>
        <title>@title - HyprMX Mediation</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/datepicker.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/jquery-ui.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/underscore.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/angular.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/main.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/browser_support.js")" type="text/javascript"></script>
    </head>
    <body ng-app="MediationModule">
        <div class="content-wrapper">
            <header>
                <a id="logo" href="@routes.AnalyticsController.show(distributorID, appID)" class=@{if(title == "") "inactive-link" else ""}>
                    <img height="60" src="@routes.Assets.at("images/mediate-logo.png")">
                </a>
                <div class="actions">
                    @session.get("username").map { user =>
                        <div id="username_header" class="header-actions">
                                @session.get("username")
                            <div id="username_dropdown">
                                <a href="@routes.DistributorUsersController.logout()">
                                    Logout
                                </a>
                            </div>
                        </div>
                    }
                    <div class="header-actions">
                        <a href="http://documentation.hyprmx.com">Documentation</a>
                    </div>
                </div>
            </header>
            @if(!flash.isEmpty) {
                @for((msgKey, msgValue) <- flash.data) {
                    <div id="flash" class="flash-message flash-@msgKey">
                        @msgValue
                    </div>
                }
            }
            <div id="browser_support" ng-controller="BrowserSupportController">The browser you are using is not actively supported.<div id="dismiss_browser">Dismiss</div></div>
            @content
            <div class="push"></div>
        </div>
        <footer>
            SHA: @{ Play.current.configuration.getString("latestSHA").getOrElse("") }
            <div class="footer-text-format"></div>
            @if(play.api.Play.isDev(play.api.Play.current) || Play.current.configuration.getString("staging").getOrElse("false") == "true") {
                Branch: @{
                    Play.current.configuration.getString("latestBranch").getOrElse("")
                }
            }
        </footer>
    </body>
</html>

<script src="@routes.Assets.at("javascripts/shared/flashHandler.js")" type="text/javascript"></script>
