@(title: String, distributorID: Long = 0, appID: Option[Long] = None)(content: Html)(implicit flash: Flash, session: Session)
@import play.api.Play
<!DOCTYPE html>

<html>
    <head>
        <title>@title - HyprMX Mediation</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/datepicker.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/jquery-ui.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/underscore.js")" type="text/javascript"></script>
    </head>
    <body>
        <div class="content-wrapper">
            <header>
                <a href="@routes.AnalyticsController.show(distributorID, appID)" class=@{if(title == "") "inactive-link" else ""}>
                    <img height="34" src="@routes.Assets.at("images/hypr_logo_rgb.jpeg")">
                </a>
                <div class="actions">
                    <a href="http://documentation.hyprmx.com">Documentation</a>
                    @session.get("username").map { user =>
                        <a href="@routes.DistributorUsersController.logout()">
                            Log out
                        </a>
                    }
                </div>
            </header>
            @if(!flash.isEmpty) {
                @for((msgKey, msgValue) <- flash.data) {
                    <div id="flash" class="flash-message flash-@msgKey">
                        @msgValue
                    </div>
                }
            }
            @content
            <div class="push"></div>
        </div>
        <footer>
            SHA: @{ Play.current.configuration.getString("latestSHA").getOrElse("") }
            <div class="footer-text-format"></div>
            Branch: @{ Play.current.configuration.getString("latestBranch").getOrElse("") }
        </footer>
    </body>
</html>

<script src="@routes.Assets.at("javascripts/shared/flashHandler.js")" type="text/javascript"></script>
