@(title: String, distributorID: Long = 0)(content: Html)(implicit flash: Flash, session: Session)
<!DOCTYPE html>

<html>
    <head>
        <title>@title - HyprMX Mediation</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/datepicker.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/jquery-ui.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/underscore.js")" type="text/javascript"></script>
    </head>
    <body>
        <header>
            <a href="@routes.AppsController.index(distributorID)">
                <img src="@routes.Assets.at("images/logo.png")">
            </a>
            <div class="actions">
                <a href="http://documentation.hyprmx.com">Documentation</a>
                @if(distributorID != 0) {
                    <a href="@routes.AppsController.index(distributorID)">App List</a>
                }
                @session.get("username").map { user =>
                    <a href="@routes.DistributorUsersController.logout()">
                        Log out
                    </a>
                }
            </div>
		</header>
        @if(!flash.isEmpty) {
            @for((msgKey, msgValue) <- flash.data) {
                <div class="flash flash-@msgKey">
                    @msgValue
                </div>
            }
        }
        @content
    </body>
</html>
